.cabecera-top-orange {
	background-color: orange;
	min-height:90px;
	color: white;
}
.pie-orange {
	background-color: orange;
	min-height:30px;
	color: white;
}
.logo-covid {
	color: white;
	font-size: xx-large;
	
}
.titulo-menu {
	color: white;
	font-size: xx-large;
	background-color: orange;	
}

fieldset legend {
	font-size: 18px;
}