.cabecera-top-orange {
	background-color: orange;
	min-height:90px;
	color: white;
}
.pie-orange {
	background-color: orange;
	min-height:30px;
	color: white;
}
.logo-covid {
	color: white;
	font-size: xx-large;
	
}
.titulo-menu {
	color: white;
	font-size: xx-large;
	background-color: orange;	
}
.menu-beige {
	background-color: #ffa5001a;
	min-height:25px;
	color: white;
}

fieldset legend {
	font-size: 18px;
}

#tablaMuestras.tableFixHead { 
	overflow-y: auto; 
	height: 500px; 
}
#tablaMuestras.tableFixHead thead th { 
	position: sticky; 
	top: 0; 
}

#tablaMuestras table  { border-collapse: collapse; width: 100%; }
#tablaMuestras th, td { padding: 8px 16px; }
#tablaMuestras th     { background:#eee; }


.custom-file-label::after {
	content: "Buscar..." !important;
}


.page-link {
	color: #6c757d !important; 
} 

.page-item.active .page-link {   
	color: #fff !important;
  	background-color: #6c757d !important; 
  	border-color: #6c757d !important; 
}
.border-table{
	background: #eee;
	border-top: solid 2px #fd7e14;
	width: 100%;
    margin-bottom: 1rem;
    color: #212529;
	
}
.border-tableMuestras{
	
	border-top: solid 2px #fd7e14;
	border-left: solid 1px #fd7e14;
	border-bottom: solid 1px #fd7e14;
	border-right: solid 1px #fd7e14;
	width: 100%;
    margin-bottom: 1rem;
    color: #212529;
	
}
.border-tableMuestras thead{
	background: #eee;
}
.tablaMuestrasPlacas{
	border:0px;
}
.tableLotes tr, .tableLotes th {
   
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.trGroupLotes:hover{
	background: #F4F4F4;
}
.filaRed{
	background:#FF8F89;
}
.filaVerde{
	background:#A0FFD7;
}
