<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PCR-Covid19</title>
<object th:include="fragmentos :: fragmentoHead" th:remove="tag"></object>
</head>
<body>
	<object th:replace="fragmentos :: header-responsive" th:remove="tag"></object>
	<div class="container">

		<form name="f" action="/acceso" method="post">
			<div class="row justify-content-center mt-3 mt-md-5">
				<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<label for="email">Correo electrónico</label> <input
									type="email" class="form-control" name="email"
									placeholder="Email" />
							</div>
							<div class="form-group">
								<label for="password">Password</label> <input type="password"
									class="form-control" name="password" placeholder="Password" />
							</div>

							<div class="row align-content-center">
								<div class="col-4 mx-auto">
									<button type="submit"
										class="btn btn-primary">Acceder</button>
								</div>
							</div>
							<div class="row mt-2">
								<div class="col-12">
									<div th:if="${mensajeError != null}"
										class="alert alert-danger alert-dismissable">
										<p>
											<i class="icon fa fa-ban"></i> <span
												th:text="${mensajeError}">Invalid Email and Password.</span>
										</p>
									</div>
									<div th:if="${mensajeLogout != null}"
										class="alert alert-info alert-dismissable">
										<p>
											<i class="icon fa fa-info"></i> <span
												th:text="${mensajeLogout}">You have been logged out.</span>
										</p>
									</div>
									<div th:if="${msg!=null}"
										class="alert alert-warning alert-dismissable">
										<p>
											<i class="icon fa fa-warning"></i> <span th:text="${msg}"></span>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<object th:replace="fragmentos :: footer-responsive" th:remove="tag"></object>
	</div>
</body>
</html>