<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PCR-COVID19 - PLACAS DE LABORATORIO</title>
<object th:include="fragmentos :: fragmentoHead" th:remove="tag"></object>
</head>
<body>

	<object th:replace="fragmentos :: header-responsive" th:remove="tag"></object>
	<object th:replace="fragmentos :: navbar-responsive" th:remove="tag"></object>
	
	<div class="container">
	<div class="row justify-content-center mt-1, titulo-menu">
			<h5>Gestión de placas responsable PCR</h5>
	</div>
	<div th:if="${mensaje != null}" class="alert alert-warning">
		<span th:text="${mensaje}"></span>
	</div>
	<form action="#" th:action="@{/laboratorioCentro/gestionPlacas}" method="post" th:object="${busquedaPlacaLaboratorioBean}" id="formBusqueda" role="form">
		
		<!-- CRITERIOS BUSQUEDA -->
		<fieldset id="criteriosBusqueda" class="form-group border p-2">
			<legend class="w-auto">Placa de laboratorio</legend>
			<div class="row">
				<div class="col-3 form-group">
					<label>Código</label>
				 	<input id="codigo" type="text" class="form-control form-control-sm" th:field="${busquedaPlacaLaboratorioBean.idPlaca}" th:value="${busquedaPlacaLaboratorioBean.idPlaca}" maxlength="100" onclick="borrarInputs();"/>
				</div>	
				<div class="col-3 form-group">
					<label>Capacidad</label>
				 	<select id="selectorCapacidad" class="form-control form-control-sm" th:field="${busquedaPlacaLaboratorioBean.numeroMuestras}" th:value="${busquedaPlacaLaboratorioBean.numeroMuestras}" onclick="borrarCodigo();">
				 		<option value="">Seleccione</option>
				 		<option value="20">20</option>
				 		<option value="96">96</option>
				 	</select>
				</div>
			</div>
			<div class="row">			
				<div class="col-3 form-group">
					<label>Estado</label>
				 	<select id="selectorEstados" class="form-control form-control-sm" th:field="${busquedaPlacaLaboratorioBean.idEstadoPlaca}"  th:value="${busquedaPlacaLaboratorioBean.idEstadoPlaca}" onclick="borrarCodigo();">
				 		<option value="0">Seleccione</option>
				 		<option th:each="var: ${estadosPlacaLaboratorio}"
									th:value="${var.estado.codNum}" th:text="${var.estado.descripcion}"
									th:select="${busquedaPlacaLaboratorioBean.idEstadoPlaca}">Estado</option>				 		
				 	</select>
				</div>
				<div class="col-3 form-group">
					<label>Fecha de creación</label>
				 	<input id="fechaInicio" type="date" class="form-control form-control-sm" th:field="${busquedaPlacaLaboratorioBean.fechaCreacionInicio}"  th:value="${busquedaPlacaLaboratorioBean.fechaCreacionInicio}" onclick="borrarCodigo();"/>
				</div>
				<div class="col-3 form-group">
					<label>a</label>
				 	<input id="fechaFin" type="date" class="form-control form-control-sm" th:field="${busquedaPlacaLaboratorioBean.fechaCreacionFin}"  th:value="${busquedaPlacaLaboratorioBean.fechaCreacionFin}" onclick="borrarCodigo();"/>
				</div>							
			</div>
		</fieldset>
		
		
		<!-- ACCIONES -->
		<div class="row justify-content-end mt-2">		
			<div class="col-1">
				<button type="submit" class="btn btn-secondary">Buscar</button>
			</div>
		</div>	
		
		<!-- PAGINACION -->
		<object th:replace="fragmentos :: paginacion(${paginadorBean})" th:remove="tag"></object>		

		<!-- RESULTADO -->
		<div class="row justify-content-center mt-3">
			<table class="table">
				<thead class="thead-light">	
	    			<tr>
	      				<th scope="col">Código</th>
						<th scope="col">Fecha creación</th>
						<th scope="col">Estado</th>
						<th scope="col">Capacidad</th>
						<th scope="col">Muestras</th>
						<th scope="col">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${listaPlacas != null}" th:each="placa : ${listaPlacas}">
						<td><span th:text="${placa.id}"></span></td>									
					 	<td><span th:text="${#dates.format(placa.fechaCreacion, 'dd/MM/yyyy')}"></span></td>
						<td><span th:text="${placa.beanEstado.estado.descripcion}"></span></td>
						<td><span th:text="${placa.numeroMuestras}"></span></td>
						<td>
							<div th:if="${#lists.size(placa.muestras) == 0}">
								<a style="cursor: pointer;color:grey">
									<i class="fa fa-table" aria-hidden="true" style="font-size: 1.2em;"></i>
								</a>
							</div>
							
							<div th:if="${#lists.size(placa.muestras) > 0}">								
								<a data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${placa.id}" style="cursor: pointer;" title="Ver muestras">
									<i class="fa fa-table" aria-hidden="true" style="font-size: 1.2em;"></i>
								</a>
								<span th:text="${#lists.size(placa.muestras)}"></span>								
							</div>
							<!-- MODAL MUESTRAS -->							
							<div class="modal fade" th:id="modal-warning+${placa.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
								<div class="modal-dialog modal-xl" role="document">
							    	<div class="modal-content">
							      		<div class="modal-header">
							        		<h5 class="modal-title" id="exampleModalLabel">La placa - <b><span th:text="${placa.id}"/></b> contiene <span th:text="${#lists.size(placa.muestras)}"/> muestra(s)</h5>
							        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          			<span aria-hidden="true">&times;</span>
							        		</button>
							      		</div>
							      		<div class="modal-body">							        
								        	<!-- Muestras de la placa -->
								          	<div id="tablaMuestras" class="tableFixHead">
												<table>
													<thead class="thead-light">	
									    				<tr>
										      				<th>Etiqueta</th>
															<th>Ref. Interna</th>
															<th>Placa Visavet</th>
															<th>Estado</th>
														</tr>
													</thead>
													<tbody>
														<tr th:if="${placa.muestras != null}" th:each="muestra : ${placa.muestras}">
															<td><span th:text="${muestra.etiqueta}"></span></td>					
															<td><span th:text="${muestra.refInterna}"></span></td>
															<td><span th:text="${muestra.idPlacaVisavet}"></span></td>		
															<td><span th:text="${muestra.estado}"></span></td>															
														</tr>		
													</tbody>
												</table>
											</div>								        
							      		</div>
									    <div class="modal-footer">
									    	<button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>							        
										</div>
							    	</div>
							  	</div>
							</div>
							<!-- FIN MODAL MUESTRAS -->
							
							<!-- MODAL ASIGNAR EQUIPO PCR -->							
							<div class="modal fade" th:id="modal-asignarEquipo+${placa.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
								<div class="modal-dialog modal-lg" role="document">
							    	<div class="modal-content">
							      		<div class="modal-header">
							        		<div th:if="${placa.muestras != null && #lists.size(placa.muestras) > 0}">	
							        			<h5 class="modal-title" id="exampleModalLabel"><b>Asignar equipo PCR</b> a la placa <span th:text="${placa.id} + ' que contiene ' + ${#lists.size(placa.muestras)} + ' muestra(s).'"/></b></h5>
							        		</div>
							        		<div th:if="${placa.muestras == null || #lists.size(placa.muestras) == 0}">	
							        			<h5 class="modal-title" id="exampleModalLabel"><b>Asignar equipo PCR</b> a la placa <span th:text="${placa.id} + ' que no contiene muestras.'"/></b></h5>
							        		</div>
							        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          			<span aria-hidden="true">&times;</span>
							        		</button>
							      		</div>
							      		<div class="modal-body">	      										        
								          	<div class="col-10 form-group">
								          		<h6><b>Puede seleccionar el equipo en el que se efectuará la prueba PCR de la placa, o bien dejarlo sin especificar.</b></h6>	          		
												<label>Equipo PCR</label>
											 	<select class="form-control form-control-sm" th:data-idPlaca="${placa.id}">
											 		<option value="0">No especificado</option>
											 		<option th:each="equipo: ${equiposPCR}"
																th:value="${equipo.id}" th:text="${equipo.nombre} + ' con capacidad para ' + ${equipo.capacidad} + ' muestras.'">Equipo</option>				 		
											 	</select>
											 	<div><h6><b>¿Confirma que la placa está preparada para la realización del PCR?</b></h6></div>
											</div>								        
							      		</div>
									    <div class="modal-footer">			    	
									    	<button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cancelarAsignacionEquipoPCR();">Cancelar</button>
									    	<button type="button" class="btn btn-secondary" data-dismiss="modal" th:data-id="${placa.id}" onclick="asignarEquipoPCRDesdeModal(this.getAttribute('data-id'));">Confirmar</button>
									    							        
										</div>
							    	</div>
							  	</div>
							</div>
							<!-- FIN ASIGNAR EQUIPO PCR -->
							
							
							<!-- MODAL CONFIRMAR PLACA LISTA PARA ANALIZAR -->							
							<div class="modal fade" th:id="modal-listaParaAnalizar+${placa.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
								<div class="modal-dialog modal-md" role="document">
							    	<div class="modal-content">
							      		<div class="modal-header">
							        		<div>	
							        			<h5 class="modal-title" id="exampleModalLabel"><b><span th:text="'Placa ' + ${placa.id}"></span></b></h5>
							        		</div>
							        		<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
							          			<span aria-hidden="true">&times;</span>
							        		</button>
							      		</div>
							      		<div class="modal-body">	      										        
								          	<div class="col-12 form-group">
								          		<h6>¿Confirma que la placa pase a estar lista para analizar?</h6>	          		
											</div>								        
							      		</div>
									    <div class="modal-footer">
									    	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
									    	<button type="button" class="btn btn-secondary" data-dismiss="modal" th:data-id="${placa.id}" onclick="confirmarListaParaAnalizarDesdeModal(this.getAttribute('data-id'));">Confirmar</button>						        
										</div>
							    	</div>
							  	</div>
							</div>
							<!-- FIN MODAL CONFIRMAR PLACA LISTA PARA ANALIZAR -->
							
							
							<!-- MODAL CONFIRMAR FINALIZADO PCR -->							
							<div class="modal fade" th:id="modal-confirmarFinalizadoPCR+${placa.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
								<div class="modal-dialog modal-md" role="document">
							    	<div class="modal-content">
							      		<div class="modal-header">
							        		<div>	
							        			<h5 class="modal-title" id="exampleModalLabel"><b><span th:text="'Placa ' + ${placa.id}"></span></b></h5>
							        		</div>
							        		<button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
							          			<span aria-hidden="true">&times;</span>
							        		</button>
							      		</div>
							      		<div class="modal-body">	      										        
								          	<div class="col-12 form-group">
								          		<h6>¿Confirma que la placa ha finalizado el PCR?</h6>	          		
											</div>								        
							      		</div>
									    <div class="modal-footer">
									    	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
									    	<button type="button" class="btn btn-secondary" data-dismiss="modal" th:data-id="${placa.id}" onclick="confirmarFinalizadoPCRDesdeModal(this.getAttribute('data-id'));">Confirmar</button>						        
										</div>
							    	</div>
							  	</div>
							</div>
							<!-- FIN MODAL CONFIRMAR FINALIZADO PCR -->
							
							
						</td>
						<td>
					        <a th:if="${placa.beanEstado.estado.codNum != 4 && placa.beanEstado.estado.codNum != 5}" style="color:black" th:href="@{/laboratorioCentro/gestionPlacas/modificar(id=${placa.id})}">
					          	<i class="fa fa-edit" aria-hidden="true" style="font-size: 1.2em;" title="Editar placa"></i>
					        </a>
					        <a th:if="${placa.beanEstado.estado.codNum == 4 || placa.beanEstado.estado.codNum == 5}" style="color:black" th:href="@{/laboratorioCentro/gestionPlacas/modificar(id=${placa.id})}">
					          	<i class="fa fa-eye" aria-hidden="true" style="font-size: 1.2em;" title="Consultar placa"></i>
					        </a>
					        <a style="color:black" th:href="@{'/documento/placaLaboratorio?id=' + ${placa.id} + '&url=6'}">
					          	<i class="fa fa-upload" aria-hidden="true" style="font-size: 1.2em;" title="Ver documentación"></i>
					        </a>
					        <a th:if="${placa.beanEstado.estado.codNum == 1}" style="color:black" th:href="@{/laboratorioCentro/gestionPlacas/modificar(id=${placa.id})}">
					          	<i class="fa fa-object-group" aria-hidden="true" style="font-size: 1.2em;" title="Rellenar placa"></i>
					        </a>
					        <a th:if="${placa.beanEstado.estado.codNum != 1}" style="color:grey" href="#">
					          	<i class="fa fa-object-group" aria-hidden="true" style="font-size: 1.2em;" title="Rellenar placa"></i>
					        </a>
					        <a th:if="${placa.beanEstado.estado.codNum == 1 && placa.placasVisavet != null && #lists.size(placa.placasVisavet)!=0}" style="color:black" 
					        			data-toggle="modal" data-target="modal-asignarEquipo" th:attr="data-target='#modal-asignarEquipo'+${placa.id}" href="#">
					          	<i class="fa fa-dashboard" aria-hidden="true" style="font-size: 1.2em;" title="Asignar equipo PCR"></i>
					        </a>
					        <a th:if="${placa.beanEstado.estado.codNum != 1 || placa.placasVisavet == null || #lists.size(placa.placasVisavet)==0}" style="color:grey" href="#">
					          	<i class="fa fa-dashboard" aria-hidden="true" style="font-size: 1.2em;" title="Asignar equipo PCR"></i>
					        </a>					        
					        <a th:if="${placa.beanEstado.estado.codNum == 2}" style="color:black" data-toggle="modal" data-target="modal-confirmarFinalizadoPCR" 
					        			th:attr="data-target='#modal-confirmarFinalizadoPCR'+${placa.id}" href="#">
					          	<i class="fa fa-hourglass-end" aria-hidden="true" style="font-size: 1.2em;" title="Finalizado PCR"></i>
					        </a>
					        <a th:if="${placa.beanEstado.estado.codNum != 2}" style="color:grey" href="#">
					          	<i class="fa fa-hourglass-end" aria-hidden="true" style="font-size: 1.2em;" title="Finalizado PCR"></i>
					        </a>					        
					        <a th:if="${placa.beanEstado.estado.codNum == 3}" style="color:black" th:href="@{'/documento/placaLaboratorio?id=' + ${placa.id} + '&url=6'}">
					          	<i class="fa fa-file-text" aria-hidden="true" style="font-size: 1.2em;" title="Asignar resultados"></i>
					        </a>
					        <a th:if="${placa.beanEstado.estado.codNum != 3}" style="color:grey" href="#">
					          	<i class="fa fa-file-text" aria-hidden="true" style="font-size: 1.2em;" title="Asignar resultados"></i>
					        </a>
					        <a th:if="${placa.beanEstado.estado.codNum == 3 && placa.tieneDocumentos}" style="color:black" 
					        			data-toggle="modal" data-target="modal-listaParaAnalizar" th:attr="data-target='#modal-listaParaAnalizar'+${placa.id}" href="#">
					          	<i class="fa fa-line-chart" aria-hidden="true" style="font-size: 1.2em;" title="Lista para analizar"></i>
					        </a>
					        <a th:if="${placa.beanEstado.estado.codNum != 3 || !placa.tieneDocumentos}" style="color:grey" href="#">
					          	<i class="fa fa-line-chart" aria-hidden="true" style="font-size: 1.2em;" title="Lista para analizar"></i>
					        </a>
						</td>				
					</tr>		
				</tbody>
			</table>
			<div class="row justify-content-center mt-3" th:if="${#lists.size(listaPlacas) == 0}">
				<span>No hay resultados para los criterios de búsqueda seleccionados</span>
			</div>
		</div>
	</form>

	</div>
	
	<object th:replace="fragmentos :: footer-responsive" th:remove="tag"></object>
	<object th:replace="fragmentos :: scripts" th:remove="tag"></object>

</body>
</html>
