<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PCR-Covid19</title>
<object th:include="fragmentos :: fragmentoHead" th:remove="tag"></object>
</head>
<body>
	<object th:replace="fragmentos :: header-responsive" th:remove="tag"></object>
	<object th:replace="fragmentos :: navbar-responsive" th:remove="tag"></object>
	
<div class="container">	

<form id="formularioCogerPlacas" action="#"
			th:action="@{/analisis/cogerPlacas}" method="post"
			role="form" th:object="${guardarCogerYDevolverPlacasBean}"> 

<fieldset class="form-group border p-2">
	<div id="placasSinAsignar" class="container">
		<div class="row justify-content-center mt-1, titulo-menu">
			<h5>PLACAS SIN ASIGNAR</h5>
		</div>
		<div th:if="${mensajeCoger !=null}"
						class="alert alert-success alert-dismissible fade show"
						role="alert">
						<label th:text="${mensajeCoger}"></label>
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
		</div>
		<div class="row justify-content-center mt-3">
		    <div class="col-lg-12">
				<table class="table">
				  <thead class="thead-light">
				    <tr>
				      <th scope="col"><input class="form-check-input, justify-content-center" type="checkbox" value="" id="" disabled></th>
				      <th scope="col">Identificador</th>
				      <th scope="col">Laboratorio</th>
				      <th scope="col">Fecha creación</th>
				      <th scope="col">Nº de muestras</th>				    
				    </tr>
				  </thead>
				  <tbody th:if="${listaPlacasListasParaAnalisis != null}" th:each="placa : ${listaPlacasListasParaAnalisis}">
				    <tr>
				      <td>				      	
				      	<input class="form-check-input, justify-content-center" type="checkbox" th:field="*{listaIdsPlacasSeleccionadosParaCoger}" name="certificates" th:value="${placa.id}"/>
				      </td>
				      <td><span th:text="${placa.id}"></span></td>
				      <td><span th:text="${placa.laboratorioCentro.nombre}"></span></td>
				      <td><!-- <span th:text="${placa.fechaCreacion}"></span> --></td>
				      <td><span th:text="${placa.numeroMuestras}"></span></td>				      
				    </tr>				    
				  </tbody>
				</table>
				<!-- <div class="container">
					<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalMarcarPlacaParaResultados">Reclamar los seleccionados</button>			    
				</div> -->
				<div class="col-1">
				<input type="submit" class="btn btn-secondary"
					value="Reclamar los seleccionados"></input>
				</div>	
			</div>									  		
	  </div>
	</div>
</fieldset>
</form>


<form id="formularioDevolverPlacas" action="#"
			th:action="@{/analisis/devolverPlacas}" method="post"
			role="form" th:object="${guardarCogerYDevolverPlacasBean}">
<fieldset class="form-group border p-2">	
	<div id="placasBajoTuResponsabilidad" class="container">
		<div class="row justify-content-center mt-1, titulo-menu">
			<h5>PLACAS BAJO TU RESPONSABILIDAD</h5>
		</div>
		<div th:if="${mensajeDevolver !=null}"
						class="alert alert-success alert-dismissible fade show"
						role="alert">
						<label th:text="${mensajeDevolver}"></label>
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
		</div>
		<div class="row justify-content-center mt-3">
		    <div class="col-lg-12">
				<table class="table">
				  <thead class="thead-light">
				    <tr>
				      <th scope="col"><input class="form-check-input, justify-content-center" type="checkbox" value="" id="" disabled></th>
				      <th scope="col">Identificador</th>
				      <th scope="col">Laboratorio</th>
				      <th scope="col">Fecha creación</th>
				      <th scope="col">Nº de muestras</th>				      
				    </tr>
				  </thead>
				  <tbody th:if="${listaPlacasAsignadasParaAnalisis != null}" th:each="placaAsignada : ${listaPlacasAsignadasParaAnalisis}">
				    <tr>
				      <td>
				      	<input class="form-check-input, justify-content-center" type="checkbox" th:field="*{listaIdsPlacasSeleccionadosParaDevolver}" name="certificates" th:value="${placaAsignada.id}"/>
				      </td>
				      <td><span th:text="${placaAsignada.id}"></span></td>
				      <td><span th:text="${placaAsignada.laboratorioCentro.nombre}"></span></td>
				      <td><!-- <span th:text="${placa.fechaCreacion}"></span> --></td>
				      <td><span th:text="${placaAsignada.numeroMuestras}"></span></td>				      
				    </tr>				   				    
				  </tbody>
				</table>
				<!-- <div class="container">
					<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalMarcarPlacaParaResultados">Devolver los seleccionados</button>			    
				</div> -->
				<div class="col-1">
				<input type="submit" class="btn btn-secondary"
					value="Devolver los seleccionados"></input>
				</div>
			</div>									  		
	  </div>
	</div>
</fieldset>	
</form>	
	
	<!-- Modal Marcar placa para resultados-->
	<div class="modal fade" id="modalMarcarPlacaParaResultados" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="MarcarPlacaParaResultadosLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="MarcarPlacaParaResultadosLabel">PCR Completa</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <h6>Esperando resultado</h6>
	        <button type="button" class="btn btn-secondary">Cargar CSV</button>
	        <button type="button" class="btn btn-secondary">Cargar HOJA DE TRABAJO</button>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
	      </div>
	    </div>
	  </div>
	</div>
	
</div>
		
	<object th:replace="fragmentos :: footer-responsive" th:remove="tag"></object>
	<object th:replace="fragmentos :: scripts" th:remove="tag"></object>
</body>
</html>