<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PCR-Covid19</title>
<object th:include="fragmentos :: fragmentoHead" th:remove="tag"></object>
</head>
<body>
	<object th:replace="fragmentos :: header-responsive" th:remove="tag"></object>

	<div id="placasListasPCR" class="container">
		<div class="row justify-content-center mt-1, titulo-menu">
			<h5>PLACAS LISTAS PARA PCR</h5>
		</div>
		<div class="row justify-content-center mt-3">
		    <div class="col-lg-12">
				<table class="table">
				  <thead class="thead-light">
				    <tr>
				      <th scope="col"><input class="form-check-input, justify-content-center" type="checkbox" value="" id="" disabled></th>
				      <th scope="col">Identificador</th>
				      <th scope="col">Fecha creación</th>
				      <th scope="col">Nº de muestras</th>
				      <th scope="col"></th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td><input class="form-check-input, justify-content-center" type="checkbox" value="" id=""></td>
				      <td>#5</td>
				      <td>20/03/2020</td>
				      <td>20</td>
				      <td>
				      	<button type="button" class="btn btn-secondary">Ver distribución pocillos</button>
				      </td>
				    </tr>
				    <tr>
				      <td><input class="form-check-input, justify-content-center" type="checkbox" value="" id=""></td>
				      <td>#7</td>
				      <td>21/03/2020</td>
				      <td>20</td>
				      <td>
				      	<button type="button" class="btn btn-secondary">Ver distribución pocillos</button>
				      </td>
				    </tr>
				    <tr>
				      <td><input class="form-check-input, justify-content-center" type="checkbox" value="" id=""></td>
				      <td>#9</td>
				      <td>21/03/2020</td>
				      <td>96</td>
				      <td>
				      	<button type="button" class="btn btn-secondary">Ver distribución pocillos</button>
				      </td>
				    </tr>
				  </tbody>
				</table>
				<div class="container">
					<button type="button" class="btn btn-secondary">Combinar en nueva placa</button>
					<button type="button" class="btn btn-secondary">Finalizar para PCR</button>				    
				</div>
			</div>									  		
	  </div>
	</div>
	
	<object th:replace="fragmentos :: footer-responsive" th:remove="tag"></object>
</body>
</html>