<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PCR-Covid19</title>
<object th:include="fragmentos :: fragmentoHead" th:remove="tag"></object>
</head>
<body>
	<object th:replace="fragmentos :: header-responsive" th:remove="tag"></object>
	<div class="container">
		<form name="f" action="/regenerarContrasena" method="post">
			<div class="row justify-content-center mt-3 mt-md-5">
				<div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Restablecer contraseña</h5>
							<div th:if="${mensajeEnviado == null}" class="form-group">
								<small class="text-muted">Introduce tu dirección de
									correo electrónico y te enviaremos un enlace para que recuperes
									el acceso.</small> <input id="email" type="email" class="form-control"
									name="email" placeholder="Email" />
							</div>
							<div th:if="${mensajeEnviado == null}" class="row align-content-center">
								<div class="col-7 mx-auto">
									<button type="submit" class="btn btn-primary"
										onclick="resetPass()">Enviar enlace de acceso</button>
								</div>
							</div>
							<div class="row mt-2">
								<div class="col-12">
									<div th:if="${mensajeError != null}"
										class="alert alert-danger alert-dismissable">
										<p>
											<i class="icon fa fa-ban"></i> <span
												th:text="${mensajeError}">Invalid Email</span>
										</p>
									</div>
									<div th:if="${mensajeEnviado != null}"
										class="alert alert-info alert-dismissable">
										<p>
											<i class="icon fa fa-info"></i> <span
												th:text="${mensajeEnviado}">Enviado</span>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="card-footer bg-transparent text-center">
							<a th:href="@{/acceso}">Volver al inicio de sesión</a>
						</div>
					</div>
				</div>
			</div>
		</form>
		<object th:replace="fragmentos :: footer-responsive" th:remove="tag"></object>
	</div>
</body>
</html>