<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PCR-COVID19 - MUESTRAS</title>
<object th:include="fragmentos :: fragmentoHead" th:remove="tag"></object>
</head>
<body>

	<object th:replace="fragmentos :: header-responsive" th:remove="tag"></object>
	<object th:replace="fragmentos :: navbar-responsive" th:remove="tag"></object>
	<div class="container">
	<div class="row justify-content-center mt-1, titulo-menu">
		<h5></h5>
	</div>
	<div th:if="${mostrarMensaje}" class="alert alert-warning">
		<span th:text="${mensaje}"></span>
	</div>
	<form action="#" th:action="@{/laboratorioCentro/recepcionPlacas/recepcionar}" method="post" th:object="${placa}" id="formGuardar" role="form">
		<input type="hidden" th:field="${placa.id}"  th:value="${placa.id}" />
		<input type="hidden" name="estado" th:value="${placa.beanEstado.estado.codNum}" th:if="${placa.beanEstado} != null"/> 
		<fieldset id="datosPlaca" class="form-group border p-2" th:disabled="true">
			<legend class="w-auto">Placa VISAVET</legend>
			<div class="row" th:if="${placa.id} != null">
				<div class="col-4 form-group">
					<label>Identificador</label>
				 	<input type="text" class="form-control form-control-sm" th:value="${placa.id}"/>
				</div>
				<div class="col-3 form-group">
					<label>Capacidad</label>
				 	<input type="text" class="form-control form-control-sm" th:value="${placa.numeroMuestras}">
				</div>						
			</div>
			<div class="row" th:if="${placa.id} != null">
				<div class="col-4 form-group">
					<label>Estado</label>
				 	<input type="text" class="form-control form-control-sm" th:value="${placa.beanEstado.estado.descripcion}"></input>
				</div>
				<div class="col-4 form-group">
					<label>Fecha de Creación</label>
				 	<input type="text" class="form-control form-control-sm" th:value="${#dates.format(placa.fechaCreacion, 'dd/MM/yyyy')}"></input>
				</div>				
			</div>					
		</fieldset>
		

		<!-- ACCCIONES -->
		<div class="row justify-content-center mt-3">			
			<div class="col-2 justify-content-begin mt-3">
				<button type="button" th:onclick="'window.location.href = \'' + @{/laboratorioCentro/recepcionPlacas} + '\''" class="btn btn-secondary">Volver</button>				
			</div>			
			<div class="col-2 justify-content-begin mt-3">
				<button th:disabled="!${recepcionable}" type="submit" class="btn btn-secondary">Recepcionar placa</button>
			</div>			
		</div>					
	</form>

	</div>
	<object th:replace="fragmentos :: footer-responsive" th:remove="tag"></object>
    <object th:replace="fragmentos :: scripts" th:remove="tag"></object>
</body>
</html>