<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PCR-COVID19 - DOCUMENTACION</title>
<object th:include="fragmentos :: fragmentoHead" th:remove="tag"></object>
</head>
<body>

	<object th:replace="fragmentos :: header-responsive" th:remove="tag"></object>
	<object th:replace="fragmentos :: navbar-responsive" th:remove="tag"></object>
	<div class="container">	
	
	<form action="#" th:action="@{/documento/guardar}" method="post" enctype="multipart/form-data" th:object="${elementoDoc}" id="formGuardar" role="form">
		<input type="hidden" th:field="*{tipoElemento}" th:value="*{tipoElemento}" />
		<input type="hidden" th:field="*{id}" th:value="*{id}" />
		<input type="hidden" th:field="*{codiUrl}" th:value="*{codiUrl}" />
		<input type="hidden" th:field="*{urlVolver}" th:value="*{urlVolver}" />
		
		<!-- MENSAJES AVISO -->
		<div th:classappend="${mensaje == null} ? visible : d-none" class="alert alert-secondary m-1 mt-2" role="alert" id="alertInfo">
		  	<label>Documentación</label>		  	
		</div>
		<div th:if="${mensaje !=null}" class="alert alert-success alert-dismissible fade show m-1 mt-2" role="alert">
			<label th:text="${mensaje}"></label>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>	
		
		<fieldset id="datos" class="form-group border p-2 m-1">
			<legend class="w-auto font-weight-bold m-0">Documentación</legend>
			<div class="row">
				<div class="col-4 m-0 form-group">
					<label>
						<th:block th:switch="*{tipoElemento}">
							<!-- TODO - INCLUIR EL RESTO DE LITERALES DEPENDIENTO DEL TIPO PARA EL QUE SEA LA DOCUMENTACION -->
							<div th:case="${T(es.ucm.pcr.beans.ElementoDocumentacionBean).TIPO_ELEMENTO_MUESTRA}">
						         Muestra
						    </div>
						    <div th:case="${T(es.ucm.pcr.beans.ElementoDocumentacionBean).TIPO_ELEMENTO_PLACA_VISAVET}">
						         Placa visavet
						    </div>
						    <div th:case="${T(es.ucm.pcr.beans.ElementoDocumentacionBean).TIPO_ELEMENTO_PLACA_LABORATORIO}">
						         Placa laboratorio
						    </div>							      					     
						 </th:block>  															
					</label>
				 	<input type="text" disabled class="form-control form-control-sm" th:field="*{descripcion}"  th:value="*{descripcion}" required maxlength="45"/>
				</div>													
				<div class="col-6 m-0 form-group">
					<label>Documento</label>
					<div class="custom-file">
					    <input type="file" onchange="validarFichero(this)" required class="custom-file-input form-control-sm" th:field="*{file}"  th:value="*{file}" accept=".pdf, .doc, .docx, .jpg, .jpeg, .png">
					    <label class="custom-file-label" for="file">Seleccionar fichero</label>
					    <label class="text-warning" th:if="${#fields.hasErrors('file')}" th:errors="*{file}"></label>
					    <label id="labelError" class="text-warning d-none"></label>
					</div>
				</div>					
			</div>
		</fieldset>
		
		<!-- BOTONES -->
		<div class="row justify-content-end mt-2">
			<div class="col-2">
				<button type="submit" id="submitButton" class="btn btn-secondary">Subir documento</button>				
			</div>
			<div class="col-1">
				<a th:href="*{urlVolver}" class="btn btn-secondary">Volver</a>			
			</div>
		</div>			
		
		<!-- RESULTADO -->
		<div class="row justify-content-center mt-3">
			<table class="table">
				<thead class="thead-light">	
	    			<tr>
	      				<th scope="col" style="width: 50%">Nombre</th>
	      				<th scope="col" style="width: 10%">Tamaño</th>
	      				<th scope="col" style="width: 25%">Usuario</th>
						<th scope="col" style="width: 10%">Acciones</th>						
					</tr>
				</thead>
				<tbody>
					<tr th:if="*{documentos != null}" th:each="doc : *{documentos}">
						<td>
							<span th:text="${doc.nombreDocumento}"></span>
						</td>
						<td>
							<span th:text="${doc.tamanioDocumento}"></span>
						</td>
						<td>
							<span th:text="${doc.descripcionUsuario}"></span>
						</td>
						<td>
							<!-- ACCIONES -->
							<a style="color:black;cursor: pointer;" th:href="@{/documento/descargar(id=${doc.id})}" title="Borrar">
					          	<i class="fa fa-download" aria-hidden="true" style="font-size: 1.2em;"></i>
					        </a>
					        <a style="color:black;cursor: pointer;" th:href="@{/documento/borrar(idDoc=${doc.id}, id=*{id}, tipoElemento=*{tipoElemento}, url=*{codiUrl})}" title="Borrar">
					          	<i class="fa fa-eraser" aria-hidden="true" style="font-size: 1.2em;"></i>
					        </a>					        
						</td>						
					</tr>		
				</tbody>
			</table>
		</div>		
	</form>

	</div>
	<object th:replace="fragmentos :: footer-responsive" th:remove="tag"></object>
    <object th:replace="fragmentos :: scripts" th:remove="tag"></object>
    
    <script type="text/javascript">    	
	    $('.alert').on('closed.bs.alert', function () {
		    $('#alertInfo').removeClass('d-none');
	    });	

	 	// Add the following code if you want the name of the file appear on select
	    $(".custom-file-input").on("change", function() {
	      var fileName = $(this).val().split("\\").pop();
	      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
	    });

	 	// validacion tamanio fichero
	    function validarFichero(file) {
		    if (file.files[0].size > 5242880) {
				$('#labelError').text("No se puede subir un documento de más de 5MB");
				$('#labelError').removeClass('d-none');
				$('#submitButton').prop('disabled', true);
				return false;
			} else {
				$('#labelError').addClass('d-none');
				$('#submitButton').prop('disabled', false);
			}
	    }
	    
    </script>
</body>
</html>