<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PCR-COVID19 - ALTA USUARIO</title>
<object th:include="fragmentos :: fragmentoHead" th:remove="tag"></object>

<!-- Divide el contenido en 3 columnas -->
<style>
    main {
        column-count:3;
    }
</style>

</head>

<body onload="ocultarCentrosInicial()">  
<!-- <body> -->

	<object th:replace="fragmentos :: header-responsive" th:remove="tag"></object>
	<object th:replace="fragmentos :: navbar-responsive" th:remove="tag"></object>	

	<div class="container">

		<form action="#" th:action="@{/gestor/altaUsuario}" method="post"
			th:object="${formBeanUsuario}" id="ALTAUsuario" role="form" name="formularioUsuario">

			<div
				class="alert alert-secondary m-1 mt-2" role="alert" id="alertInfo">
				<label>Información del usuario</label>
			</div>
			<div th:if="${mensajeError !=null}"
				class="alert alert-danger alert-dismissible fade show m-1 mt-2"
				role="alert">
				<label th:text="${mensajeError}"></label>
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="form-group">
				<label class="text_formulario">Nombre Usuario</label> <input
					type="text" class="form-control" th:field="${formBeanUsuario.nombre}"
					th:value="${formBeanUsuario.nombre}" required="required" />
			</div>

			<div class="form-group">
				<label class="text_formulario">Primer Apellido Usuario</label> <input
					type="text" class="form-control" th:field="${formBeanUsuario.apellido1}"
					th:value="${formBeanUsuario.apellido1}" required="required" />
			</div>

			<div class="form-group">
				<label class="text_formulario">Segundo Apellido Usuario</label> <input
					type="text" class="form-control" th:field="${formBeanUsuario.apellido2}"
					th:value="${formBeanUsuario.apellido2}" />
			</div>

 			<!-- En modificacion no modificamos el mail, eso es cosa del alta de usuarios -->
			<div class="form-group" >
				<label class="text_formulario">Mail</label> <input type="email"
					class="form-control" th:field="${formBeanUsuario.email}"
					th:disabled="${formBeanUsuario.accion=='M'}"
					th:value="${formBeanUsuario.email}" required="required" />
			</div>
 
 			<div class="form-group">
				<label class="text_formulario">Estado de la activación</label>
			</div>
 			<div class="form-group">
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="option1" name="option1"
						class="custom-control-input" value="S"
						th:field="*{habilitado}" th:checked="*{habilitado != 'I'} ? 'checked' : ''"> <label
						class="custom-control-label" for="option1">Habilitado</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="option2" name="option2"
						class="custom-control-input" value="N"
						th:field="*{habilitado}" th:checked="*{habilitado == 'I'} ? 'checked' : ''"> <label
						class="custom-control-label" for="option2">No habilitado</label>
				</div>
			</div> 

			<!-- roles del usuario -->
			<div class="form-group">
				<label class="text_formulario">Roles</label>
			</div>
			<div class="form-group">				
				<th:block th:each="rol : ${listaRoles}">
					<input type="checkbox" name="roles" th:value="${rol.id}"
						th:checked="${rol.seleccionado}" />
					<label th:text="${rol.nombre}"></label>
				</th:block>
			</div>
			
<!-- 			<div class="form-group"> -->
<!-- 				<label class="text_formulario">Tipo de Centro</label> -->
<!-- 			</div> -->
			
<!-- 			<div class="form-group"> -->
<!-- 			<main> -->
<!-- 				Todos los radio deben tener el mismo name para poder obtener su valor -->
<!-- 				<div class="custom-control custom-radio custom-control-inline"> -->
<!-- 					<input type="radio" id="CENTROSALUD" name="tipoCentroSeleccionado" -->
<!-- 						onclick="centroSalud()" -->
<!-- 						class="custom-control-input" value="C" -->
<!-- 						th:field="*{tipoCentroSeleccionado}"> <label -->
<!-- 						class="custom-control-label" for="CENTROSALUD">Centros de salud</label> -->
<!-- 				</div> -->
<!-- 				<div class="custom-control custom-radio custom-control-inline"> -->
<!-- 					<input type="radio" id="LABUCM" name="tipoCentroSeleccionado" -->
<!-- 						onclick="labUcm()" -->
<!-- 						class="custom-control-input" value="L" -->
<!-- 						th:field="*{tipoCentroSeleccionado}"> <label -->
<!-- 						class="custom-control-label" for="LABUCM">Laboratorio Centros UCM</label> -->
<!-- 				</div> -->
<!-- 				<div class="custom-control custom-radio custom-control-inline"> -->
<!-- 					<input type="radio" id="LABVISAVET" name="tipoCentroSeleccionado" -->
<!-- 						onclick="labVisavet()" -->
<!-- 						class="custom-control-input" value="V" -->
<!-- 						th:field="*{tipoCentroSeleccionado}"> <label -->
<!-- 						class="custom-control-label" for="LABVISAVET">Laboratorio Logístico</label> -->
<!-- 				</div>	 -->
<!-- 				</main>			 -->
<!-- 			</div> 	 -->
				
			<main>
				<div class="form-group">
					<label>Centro de salud</label>	
					<select class="form-control" id="IDCENTROSALUD" th:field="*{centroSeleccionado}">
						<option value="">Seleccione</option> 
				     	<option th:each="var: ${mapaCentros}" th:value="${var.key}" 
				     	th:text="${var.value}" th:select="${formBeanUsuario.centroSeleccionado}"
				     	
				     	>
				     	</option>
				     </select>		
				</div>				
				
				<div class="form-group">	
					<label>Laboratorio Centro UCM</label>
					<select class="form-control" id="IDLABUCM" th:field="*{idLaboratorioCentro}">
						<option value="">Seleccione</option>
				     	<option th:each="var: ${mapaLaboratoriosCentro}" th:value="${var.key}" 
				     	th:text="${var.value}" th:select="${formBeanUsuario.idLaboratorioCentro}"
				     	
				     	>
				     	</option>
				     </select>		
				</div> 				
				
			 	<div class="form-group">
			 	<label>Laboratorio Visavet</label>	
					<select class="form-control" id="IDLABVISAVET" th:field="*{idLaboratorioVisavet}">
					<option value="">Seleccione</option>
				     	<option th:each="var: ${mapaLaboratoriosVisavet}" th:value="${var.key}" 
				     	th:text="${var.value}" th:select="${formBeanUsuario.idLaboratorioVisavet}"
				     	
				     	>
				     	</option>
				     </select>		
				</div> 		
			</main>
			
			<!--  Los campos id, acción y tipoCentroSeleccionado van ocultos en la pantalla 
			-->
				<input type="hidden" class="form-control"
					th:field="${formBeanUsuario.accion}"
					th:value="${formBeanUsuario.accion}"  />
				<input type="hidden" class="form-control"
					th:field="${formBeanUsuario.id}"
					th:value="${formBeanUsuario.id}"  />

			<div class="row align-content-center">
				<div class="col-4 mx-auto">
					<button type="submit" class="btn btn-secondary">Guardar</button>
				</div>
			</div>

		</form>

	</div>

	<object th:replace="fragmentos :: footer-responsive" th:remove="tag"></object>
	<object th:replace="fragmentos :: scripts" th:remove="tag"></object>
	
</body>
</html>