<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PCR-COVID19 - ALTA LABORATORIO UCM</title>
<object th:include="fragmentos :: fragmentoHead" th:remove="tag"></object>
</head>
<body>

	<object th:replace="fragmentos :: header-responsive" th:remove="tag"></object>
	<object th:replace="fragmentos :: navbar-responsive" th:remove="tag"></object>
	
	<div class="container">

		<form action="#" th:action="@{/gestor/altaLaboratorioCentro}"
			method="post" th:object="${formBeanLaboratorioCentro}"
			id="ALTALaboratorioCentro" role="form">

			<div
				class="alert alert-secondary m-1 mt-2" role="alert" id="alertInfo">
				<label>Información del laboratorio UCM</label>
			</div>

			<div class="form-group">
				<label class="text_formulario">Laboratorio Ucm</label> <input
					type="text" class="form-control"
					th:field="${formBeanLaboratorioCentro.nombre}"
					th:value="${formBeanLaboratorioCentro.nombre}" required="required" />
			</div>
			
			<!-- Lista de equipos asociados al laboratorio ucm -->
			<!-- Lista de laboratorios existentes -->
			<div class="row justify-content-center mt-3" th:if="${listaEquipos != null}">
				<table class="table">
					<thead class="thead-light">
						<tr>
							<th class="p-1" scope="col">Equipos asociados</th>
							<th class="p-1" scope="col">Capacidad</th>
							<th class="p-1" scope="col">Editar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="equipo:${listaEquipos}">
							<td class="p-1" th:text="${equipo.nombre}"  >  </td>
							<td class="p-1" th:text="${equipo.capacidad}" > </td>
							<td class="p-1">
								<a style="color: black"
								th:href="@{/gestor/editarEquipo(idEquipo=${equipo.id})}"
								title="Editar"> 
								<i class="fa fa-edit" aria-hidden="true"style="font-size: 1.2em;"></i>
								</a> 
							</td>					
 						</tr>
					</tbody>
				</table>
			</div>
			<!-- Fin lista equipos asociados a laboratorio ucm -->

			<!--  Los campos id y acción van ocultos en la pantalla 
			-->
			<input type="hidden"
					class="form-control" th:field="${formBeanLaboratorioCentro.accion}"
					th:value="${formBeanLaboratorioCentro.accion}" />
			<input type="hidden"
					class="form-control" th:field="${formBeanLaboratorioCentro.id}"
					th:value="${formBeanLaboratorioCentro.id}" />
			<!--  Los campos id y acción van ocultos en la pantalla 
			-->

			<div class="row align-content-center">
				<div class="col-4 mx-auto">
					<button type="submit" class="btn btn-secondary">Guardar</button>
				</div>
			</div>

		</form>

	</div>
	
	<object th:replace="fragmentos :: footer-responsive" th:remove="tag"></object>
	<object th:replace="fragmentos :: scripts" th:remove="tag"></object>	

</body>
</html>