<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PCR-COVID19 - ALTA CENTRO</title>
<object th:include="fragmentos :: fragmentoHead" th:remove="tag"></object>
</head>
<body>

	<object th:replace="fragmentos :: header-responsive" th:remove="tag"></object>
	<object th:replace="fragmentos :: navbar-responsive" th:remove="tag"></object>
	<div class="container">	
	
	<form action="#" th:action="@{/gestor/centro/alta}" method="post" th:object="${formBeanCentro}" id="ALTACENTRO" role="form">

	<h4>ALTA DE CENTROS</h4>
	
	<div class="form-group">
		<label class="text_formulario">Código Centro</label>
	 	<input  type="text" class="form-control" th:field="${formBeanCentro.codCentro}"  th:value="${formBeanCentro.codCentro}" required="required"/>
	</div>
	
		<div class="form-group">
		<label class="text_formulario">Descripción Centro</label>
	 	<input  type="text" class="form-control" th:field="${formBeanCentro.desCentro}"  th:value="${formBeanCentro.desCentro}" required="required"/>
	</div>

	<div class="row align-content-center">
		<div class="col-4 mx-auto">
			<button type="submit"
				class="btn btn-primary">Alta centro</button>
		</div>
	</div>	
	
	</form>

	</div>
	<object th:replace="fragmentos :: footer-responsive" th:remove="tag"></object>
    <object th:replace="fragmentos :: scripts" th:remove="tag"></object>
</body>
</html>