<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PCR-COVID19 - GESTION USUARIOS</title>
<object th:include="fragmentos :: fragmentoHead" th:remove="tag"></object>
</head>
<body>

	<object th:replace="fragmentos :: header-responsive" th:remove="tag"></object>
	<object th:replace="fragmentos :: navbar-responsive" th:remove="tag"></object>

	<div class="container">
	
		<form action="#" th:action="@{/gestor/listaUsuarios}" method="post"
			th:object="${formBeanBusquedaUsuario}" id="FORMBUSQUEDAUSUARIO" role="form" name="formularioBusquedaUsuario">
		
	
		<div class="alert alert-secondary m-1 mt-2" role="alert"
			id="alertInfo">
			<label>Gestión de usuarios</label>
		</div>
		<div th:if="${mensajeError !=null}"
			class="alert alert-danger alert-dismissible fade show m-1 mt-2"
			role="alert">
			<label th:text="${mensajeError}"></label>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="row justify-content-middle m-2">
			<div class="col-2">
				<a th:href="@{/gestor/altaUsuario}" class="btn btn-secondary eBtn">Nuevo usuario</a>
			</div>
<!--  			<div class="col-3">
				<label class="text_formulario">Introduzca email o primer apellido</label>			
 			</div>  -->
			<div class="offset-3 col-5">
				<input type="text" class="form-control", th:field="${formBeanBusquedaUsuario.busqueda}"
					th:value="${formBeanBusquedaUsuario.busqueda}" id="BUSQUEDA" onFocus="vaciar(this)"/>
			</div>
			<div class="col-2">
				<button type="submit" class="btn btn-secondary eBtn">Busqueda</button>
			</div>
		</div>
		<div class="row justify-content-center mt-3">
			<table class="table">
				<thead class="thead-light">
					<tr>
						<th class="p-1" scope="col">Nombre</th>
						<th class="p-1" scope="col">Primer apellido</th>
						<th class="p-1" scope="col">Segundo apellido</th>
						<th class="p-1" scope="col">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="users :${listaUsuarios}">
						<td class="p-1" th:text="${users.nombre}"></td>
						<td class="p-1" th:text="${users.apellido1}"></td>
						<td class="p-1" th:text="${users.apellido2}"></td>
						<td class="p-1"><a style="color: black"
							th:href="@{/gestor/editarUsuario(idUsuario=${users.id})}"
							title="Editar"> <i class="fa fa-edit" aria-hidden="true"
								style="font-size: 1.2em;"></i>
						</a> <a style="color: black"
							th:data-href="@{/gestor/borrarUsuario(idUsuario=${users.id})}"
							title="Borrar" data-toggle="modal" data-target="#confirm-borrar">
								<i class="fa fa-eraser" aria-hidden="true"
								style="font-size: 1.2em;"></i>
						</a></td>
					</tr>
				</tbody>
			</table>

		</div>
		</form>
	</div>
		
		<!-- Modal confirmación borrado -->
	<div class="modal fade" id="confirm-borrar" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Confirmación</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>¿Está seguro de que quiere borrar este elemento?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Cancelar</button>
					<a class="btn btn-danger btn-borrar">Borrar</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Fin modal -->
	<object th:replace="fragmentos :: footer-responsive" th:remove="tag"></object>
	<object th:replace="fragmentos :: scripts" th:remove="tag"></object>
	<script src="static/js/gestor.js" th:src="@{/js/gestor.js}"></script>
</body>
</html>