<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Búsqueda de Lotes-covid19</title>
<object th:include="fragmentos :: fragmentoHead" th:remove="tag"></object>

</head>
<body>

  <object th:replace="fragmentos :: header-responsive" th:remove="tag"></object>
	<object th:replace="fragmentos :: navbar-responsive" th:remove="tag"></object>
<div id="lotesRecibidos" class="container">
	<div class="row justify-content-center mt-1 ">
			<h5>Gestión de Placas</h5>
    </div>
    <div class="row justify-content-left mt-3">
     
    <!-- 	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">		      
				<div class="list-group">
				  <a href="/laboratorioUni/buscarLotes" class="list-group-item list-group-item-action text-white bg-secondary">Gestión lotes centros de salud</a>
				  <a href="/laboratorioUni/buscarPlacas" class="list-group-item list-group-item-action">Gestión placas Visavet</a>
				  <a href="#" class="list-group-item list-group-item-action">Salir</a>
				</div>
		</div>
 -->

   <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">		      
	<form action="#" th:action="@{/laboratorioUni/buscarPlacas}"
			id="formularioPrueba" method="post" th:object="${busqueda}"
			class="form-horizontal">
			<fieldset id="criteriosBusqueda" class="form-group border p-2">
		    <legend class="w-auto">Búsqueda Placas</legend>
			  <div class="row">
				<div class="col-4 form-group">
				<label class="col-xs-2">Laboratorio asignado:</label>
			    <select class="form-control form-control-sm" id="centro" th:field="*{idLaboratorioCentro}">
			    <option value="">Seleccione</option>
					<option th:each="var: ${busqueda.listaLaboratorioCentro}"
									th:value="${var.id}" th:text="${var.nombre}"
									th:select="${busqueda.idLaboratorioCentro}">Laboratorio</option>
				</select>
				</div>
				<div class="col-4 form-group">
				<label class="col-xs-2">Número de Lote:</label>
						<div class="col-xs-7">
								<input type="text" class="form-control form-control-sm" id="numLote"
								th:value="${busqueda.numLote}"
								th:field="*{numLote}" />
						</div>
			    </div>
			     <div class="col-4 form-group">
						<label class="col-xs-3">Estado:</label>
						<div class="col-xs-9">
							<select class="form-control form-control-sm" id="estado"
								th:field="*{codNumEstadoSeleccionado}">
                                <option value="">Seleccione</option>
								<option th:each="var: ${busqueda.listaBeanEstado}"
									th:value="${var.estado.codNum}" th:text="${var.estado.descripcion}"
									th:selected="${busqueda.codNumEstadoSeleccionado}">Estado</option>
							</select>
						</div>
						
					</div>
			  </div>
			  <div class="row">
				<div class="col-4 form-group">
			
						<label class="col-xs-2">Fecha de Creación:</label>
						 		<input type="date" class="form-control" id="fechaCreacionInicio"
								th:field="*{fechaCreacionInicio}" th:value="${busqueda.fechaCreacionInicio}" />
						a <input type="date" class="form-control" id="fechaCreacionFin"
								th:field="*{fechaCreacionFin}" th:value="${busqueda.fechaCreacionFin}" />
                   </div>
                   <div class="col-4 form-group">
			
                   	<label class="col-xs-4">Muestra:</label>
					<input type="text" class="form-control" id="muestra"
								th:value="${busqueda.muestra}"
								th:field="*{muestra}" />
						</div>
                 </div>  

        <div class="row justify-content-end mt-3">
			<div class="col-2">
			 <button type="submit"  class="btn btn-secondary">Buscar</button>
			
			<!--  <button type="button" th:onClick="|buscarResultados('lote','DESC','2','20'); return false|"  class="btn btn-secondary">Buscar</button>-->
			</div>
		</div>	
		</fieldset>
		
		</form>
		</div>
		
		<!-- Aqui vienen los resultados -->
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">	&nbsp;</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">	
		<div id="capaResultados" 
			class="row formPnl1"  th:unless="${(pagina == null)}">
		 	<table class="col-xs-12 table" th:id="tablaResultados" >
			 <thead class="thead-light">
				<tr>
				    <th scope="col"></th>
					<th scope="col">#Placa</th>
					<th scope="col">F. Creación</th>
					<th scope="col">#Lotes</th>
					<th scope="col">Nº Muestras</th>
					<th scope="col">Estado</th>
				    <th scope="col">Laboratorio</th>
				    <th scope="col">Acciones</th>
				</tr>
				</thead>
				<tbody>	
			 	<tr th:id="trGroup+${count.index}"  th:each="unResultado,count : ${pagina.getContent()}">
					<td><span th:text="${unResultado.id}"></span></td>
					<td><span th:text="${#dates.format(unResultado.fechaCreacion, 'dd-mm-yyyy')}"></span></td>
                    <td> <p th:id="lotes+${unResultado.id}" th:each="lote: ${unResultado.listaLotes}">
                            <input type="text" id="lote+${count.index}" th:value="${lote.id}"/>
							<span th:text="${lote.numLote}"></span>
						</p>
					</td>
                     <td> <a  data-toggle="modal" href="#modalConsultarMuestras"  th:data-id="${unResultado.id}"  th:onClick="|consultarMuestras(this.getAttribute('data-id'));|">
                          <i class="fa fa-table" aria-hidden="true" style="font-size: 1.2em;"></i>
					      </a>
                     </td>
                     <td>
						<span th:text="${#strings.toString(unResultado.estado.Estado.descripcion)}"></span>
						<input th:if="${#strings.toString(unResultado.estado.Estado) == 'PLACAVISAVET_PREPARADA'}"  id="procesarBoton"   type="button" class="btn btn-secondary"  value="Procesar lotes seleccionados" th:data-id="${unResultado.id}" onclick="procesarLotesDesdePlacas(this.getAttribute('data-id'))"/>
						<a  th:if="${#strings.toString(unResultado.estado.Estado) == 'PLACAVISAVET_FINALIZADA'}" data-toggle="modal"  data-target="#modalLaboratorio"   th:attr="data-target='#modalLaboratorio'" th:data-id="${unResultado.id}"  th:onClick="|consultarOcupacionLaboratorio(this.getAttribute('data-id'));|">
                          <i class="fa fa-table" aria-hidden="true" style="font-size: 1.2em;"></i>
						</a>
							
						
						
                    </td>		  
					</tr>	
				</tbody>		
			</table>
			
			
		
		</div> 
	<!--  <div th:include="fragmentos :: paginador(${busquedaLotes.urlPaginada},${paginaLotes},${busquedaLotes.orden},${busquedaLotes.sentidoOrden},'0')"></div>
		-->
		</div>

	</div>
		</div> 	
	<!-- Empiezan los modales -->
		
	<!-- consultar Muestras -->
<div id="modalConsultarMuestras" class="modal fade modal1 in" role="dialog">
   <div id="ventanaConfirmRecibido" class="modal-dialog ">
    
	<div class="modal-content">
         <div class="modal-header" id="modal-header">
         <button class="close" data-dismiss="modal" type="button">×</button>
	
         <h4 class="modal-title"> <span id="modalTitleNombre" class="info">Muestras incluidas en el Lote</span>
         </h4>
        </div>

	<div id="mensajeSinSeleccionarTit" style="display: block; height: 70px;">
		<span style="text-align: center; padding-top: 30px; padding-left: 30px;"></span>
	
						<label>Número muestra de lote:</label><span id="mensajeConfirmar"></span>
						<label>Centro muestra de procedencia:</label><span id="mensajeCentroProcedencia"></span>
						<div id="capaMuestrasMostrar">
							<table class="col-xs-12 table" th:id="tablamuestras" >
					     	<tr id="trMuestra">	</tr>
			            	<tr id="trMuestra"  th:each="unaMuestra, count : ${muestras}">
			            	
				              <td><span th:text="${#strings.toString(unaMuestra.etiqueta)}"></td>
				              <td><span th:text="${#strings.toString(unaMuestra.referenciaInterna)}"></td>
				            </tr>
							    
							   
							    </table>
							    </div>	
									<div class="modal-footer">
									<input type="hidden" id="id" value=""></input>
									  	<button type="button" id="cerrarConfirmacion" data-dismiss="modal">Cerrar</button>
										
									</div>
						

				</div><!-- 4 -->




						</div><!-- 3 -->
						</div><!-- 2 -->
	</div> <!-- 1 -->
	

		</div>
		</div>			

<!--  Fin consultar Muestras -->
<div th:id="modalLaboratorio" class="modal fade" role="dialog"  aria-labelledby="exampleModalLabel" aria-hidden="true" >
   <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
         <div class="modal-header" id="modal-header">
         <button class="close" data-dismiss="modal" type="button">×</button>
	     <h4 class="modal-title"> <span id="modalTitleNombre" class="info">Asignar Placa a laboratorio</span>
         </h4>
         </div>
         <div class="modal-body">
		 <form id="laboratorioForm" action="" th:modelAttribute="beanPlacaVisavetUCM" >
			 <label class="col-xs-2">Laboratorio a asignar:</label>
			    <select class="form-control form-control-sm" id="laboratorio">
			    <option value="">Seleccione</option>
				<option th:each="var: ${busqueda.listaLaboratorioCentro}"
									th:value="${var.id}" th:text="${var.nombre}"
									th:select="${busqueda.idLaboratorioCentro}">Laboratorio</option>
				</select>
				<div id="capaMuestrasMostrar">
				<table class="col-xs-12 table" th:id="tablaLaboratorios" >
				  <thead><tr><th scope="col">Nombre</th><th scope="col">Nº de equipos</th><th scope="col">Placas a la espera</th>
				  </tr>
				  </thead>
					 <tr id="trLaboratorio">	</tr>
			     <tr id="trLaboratorio"  th:each="laboratorio, count : ${laboratorios}">
			      <td><span th:text="${#lists.size(laboratorio.nombre)}"></td>
			             <td><span th:text="${#lists.size(laboratorio.equipos)}"></td>
				         <td><span th:text="${#strings.toString(laboratorio.placasVisavetaLaEspera)}"></td>
				      </tr>  
				      
				</table>
			  </div>	
			<div class="modal-footer">
			<input type="text" id="idPlaca" value=""></input>	
			<button type="button" id="asignarLaboratorio" class="btn btn-secondary" onClick="asignarLaboratoriodesdeModal();">Asignar Laboratorio</button>
			<button type="button" id="cerrarConfirmacion" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			</div>
			</form>
         </div>
     </div>
   </div>
						
	</div> 	
		<!-- Fin asignarLaboratorio -->	
	
<object th:replace="fragmentos :: footer-responsive" th:remove="tag"></object>
<object th:include="fragmentos :: scripts" th:remove="tag"></object>


	
</body>
</html>