<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PCR-COVID19 - ALTA USUARIO</title>
<object th:include="fragmentos :: fragmentoHead" th:remove="tag"></object>

<!-- Divide el contenido en 3 columnas -->
<style>
    main {
        column-count:3;
    }
</style>

</head>
<body>
<!-- <body onload="ocultarCentrosInicial()"> -->

	<object th:replace="fragmentos :: header-responsive" th:remove="tag"></object>
	<object th:replace="fragmentos :: navbar-responsive" th:remove="tag"></object>	

	<div class="container">

		<form action="#" th:action="@{/gestor/altaUsuario}" method="post"
			th:object="${formBeanUsuario}" id="ALTAUsuario" role="form">

			<h4>GESTION DE USUARIO</h4>

			<div class="form-group">
				<label class="text_formulario">Nombre Usuario</label> <input
					type="text" class="form-control" th:field="${formBeanUsuario.nombre}"
					th:value="${formBeanUsuario.nombre}" required="required" />
			</div>

			<div class="form-group">
				<label class="text_formulario">Primer Apellido Usuario</label> <input
					type="text" class="form-control" th:field="${formBeanUsuario.apellido1}"
					th:value="${formBeanUsuario.apellido1}" required="required" />
			</div>

			<div class="form-group">
				<label class="text_formulario">Segundo Apellido Usuario</label> <input
					type="text" class="form-control" th:field="${formBeanUsuario.apellido2}"
					th:value="${formBeanUsuario.apellido2}" required="required" />
			</div>

 <!-- 			<div class="form-group">
				<label class="text_formulario">Centro</label> <input
					type="text" class="form-control"
					th:field="${formBeanUsuario.centro.nombre}"
					th:value="${formBeanUsuario.centro.nombre}" required="required" />
			</div>  -->

 			<!-- En modificacion no modificamos el mail, eso es cosa del alta de usuarios -->
			<div class="form-group" >
				<label class="text_formulario">Mail</label> <input type="email"
					class="form-control" th:field="${formBeanUsuario.email}"
					th:disabled="${formBeanUsuario.accion=='M'}"
					th:value="${formBeanUsuario.email}" required="required" />
			</div>
 
 			<div class="form-group">
				<label class="text_formulario">Estado de la activación</label>
			</div>
 			<div class="form-group">
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="option1" name="option1"
						class="custom-control-input" value="S"
						th:field="*{habilitado}"> <label
						class="custom-control-label" for="option1">Habilitado</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="option2" name="option2"
						class="custom-control-input" value="N"
						th:field="*{habilitado}"> <label
						class="custom-control-label" for="option2">No habilitado</label>
				</div>
			</div> 

			<!-- roles del usuario -->
			<div class="form-group">
				<label class="text_formulario">Roles</label>
			</div>
			<div class="form-group">				
				<th:block th:each="rol : ${listaRoles}">
					<input type="checkbox" name="roles" th:value="${rol.id}"
						th:checked="${rol.seleccionado}" />
					<label th:text="${rol.nombre}"></label>
				</th:block>
			</div>
			
			<div class="form-group">
				<label class="text_formulario">Tipo de Centro</label>
			</div>
			
			<div class="form-group">
			<main>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="CENTROSALUD" name="CENTROSALUD"
						class="custom-control-input" value="C"
						th:field="*{tipoCentroSeleccionado}"> <label
						class="custom-control-label" for="CENTROSALUD">Centros de salud</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="LABUCM" name="LABUCM"
						class="custom-control-input" value="L"
						th:field="*{tipoCentroSeleccionado}"> <label
						class="custom-control-label" for="LABUCM">Laboratorio Centros UCM</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input type="radio" id="LABVISAVET" name="LABVISAVET"
						class="custom-control-input" value="V"
						th:field="*{tipoCentroSeleccionado}"> <label
						class="custom-control-label" for="LABVISAVET">Laboratorio Logístico</label>
				</div>	
				</main>			
			</div> 	
				
			<main>
				<div class="form-group">	
<!-- 					<label class="text_formulario">Centros de salud</label> -->
					<select class="form-control" id="IDCENTROSALUD" th:field="*{centroSeleccionado}">
				     	<option th:each="var: ${mapaCentros}" th:value="${var.key}" th:text="${var.value}" th:select="${formBeanUsuario.centroSeleccionado}"></option>
				     </select>		
				</div>				
				
				<div class="form-group">	
<!-- 					<label class="text_formulario">Laboratorio Centros UCM</label> -->
					<select class="form-control" id="IDLABUCM" th:field="*{idLaboratorioCentro}">
				     	<option th:each="var: ${mapaLaboratoriosCentro}" th:value="${var.key}" th:text="${var.value}" th:select="${formBeanUsuario.idLaboratorioCentro}"></option>
				     </select>		
				</div> 				
				
			 	<div class="form-group">	
<!-- 					<label class="text_formulario">Laboratorio Logístico</label> -->
					<select class="form-control" id="IDLABVISAVET" th:field="*{idLaboratorioVisavet}">
				     	<option th:each="var: ${mapaLaboratoriosVisavet}" th:value="${var.key}" th:text="${var.value}" th:select="${formBeanUsuario.idLaboratorioVisavet}"></option>
				     </select>		
				</div> 		
			</main>
			
			<!--  Los campos id y acción van ocultos en la pantalla 
			-->
			<div class="form-group">
				<label class="text_formulario"></label> 
				<input type="hidden" class="form-control"
					th:field="${formBeanUsuario.accion}"
					th:value="${formBeanUsuario.accion}"  />
			</div>
			<div class="form-group">
				<label class="text_formulario"></label> 
				<input type="hidden" class="form-control"
					th:field="${formBeanUsuario.id}"
					th:value="${formBeanUsuario.id}"  />
			</div>
			<!--  Los campos id y acción van ocultos en la pantalla 
			-->

			<div class="row align-content-center">
				<div class="col-4 mx-auto">
					<button type="submit" class="btn btn-primary">Guardar Usuario</button>
				</div>
			</div>

		</form>

	</div>

	<object th:replace="fragmentos :: footer-responsive" th:remove="tag"></object>
	<object th:replace="fragmentos :: scripts" th:remove="tag"></object>
	<script th:src="@{/js/gestionUsuario.js}"></script>
	
</body>
</html>