<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PCR-COVID19 - GESTION LaboratorioCentroS</title>
<object th:include="fragmentos :: fragmentoHead" th:remove="tag"></object>
</head>
<body>

	<object th:replace="fragmentos :: header-responsive" th:remove="tag"></object>

	<div class="container">
		<h4>GESTIÓN DE LABORATORIOS UCM</h4>

		<a th:href="@{/gestor/altaLaboratorioCentro}" class="btn btn-primary eBtn">Añadir Laboratorio Ucm</a>

		</p>

		<div class="card">
			<div class="card-block">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Laboratorio UCM</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="laboratorio:${listaLaboratorioCentro}">
							<td th:text="${laboratorio.nombre}"></td>
							<td>							
 								<a th:href="@{/gestor/borrarLaboratorioCentro(idLaboratorioCentro=${laboratorio.id})}" class="btn btn-danger delBtn">Borrar</a>
								<a th:href="@{/gestor/editarLaboratorioCentro(idLaboratorioCentro=${laboratorio.id})}" class="btn btn-primary eBtn">Editar</a>
							</td>
						</tr>
					</tbody>
				</table>
				<hr />


			</div>
		</div>
	</div>

	<object th:replace="fragmentos :: footer-responsive" th:remove="tag"></object>
</body>
</html>