<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PCR-Covid19</title>
<object th:include="fragmentos :: fragmentoHead" th:remove="tag"></object>
</head>
<body>
	<object th:replace="fragmentos :: header-responsive" th:remove="tag"></object>
	<div class="container">

	<div>
	<h2>ERROR EN LA APLICACIÓN</h2>
	<hr />
	<p>Se hha producido el siguiente  error: <label th:text="${exErrorMessage}"> </label> </p>
	<p>&nbsp;</p>
	<p>Error cargando <label th:text="${exErrorPeticion}"></label></p>
	<p>&nbsp;</p>
	<p>Si lo desea puede enviarnos un mensaje informando del mismo
	<a class="enlace1" href="mailto:dades@ucm.es?Subject=Excepción en Titulos Propios">pulsando aquí</a>.</p>
	
	<hr />
</div>	<object th:replace="fragmentos :: footer-responsive" th:remove="tag"></object>
	</div>
</body>
</html>