<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PCR-COVID19 - MUESTRAS</title>
<object th:include="fragmentos :: fragmentoHead" th:remove="tag"></object>
</head>
<body>

	<object th:replace="fragmentos :: header-responsive" th:remove="tag"></object>
	<object th:replace="fragmentos :: navbar-responsive" th:remove="tag"></object>
	<div class="container">	
	<form action="#" th:action="@{/centroSalud/lote/guardar}" method="post" th:object="${beanLote}" id="formGuardar" role="form">
		<input type="hidden" th:field="${beanLote.id}"  th:value="${beanLote.id}" />
		<input type="hidden" name="estado" th:value="${beanLote.estado.estado.codNum}" th:if="${beanLote.estado} != null"/>	
		<input type="hidden" th:field="${beanLote.tieneMuestras}" th:value="${beanLote.tieneMuestras}"/>	
		<input type="hidden" th:field="${beanLote.numeroMuestras}" th:value="${beanLote.tieneMuestras}"/>
		
		<!-- MENSAJES AVISO -->
		<div th:classappend="${mensaje == null} ? visible : d-none" class="alert alert-secondary m-1 mt-2" role="alert" id="alertInfo">
		  	<label th:if="${editable} and ${beanLote.id == null}">Nuevo lote</label>
		  	<label th:if="${editable} and ${beanLote.id != null}">Modificar lote</label>
		  	<label th:if="!${editable}">Consulta lote</label>
		</div>
		<div th:if="${mensaje !=null}" class="alert alert-success alert-dismissible fade show m-1 mt-2" role="alert">
			<label th:text="${mensaje}"></label>
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		</div>
		
		<fieldset id="datosLote" class="form-group border p-2 m-1" th:disabled="!${editable}">
			<legend class="w-auto font-weight-bold m-0" th:if="${beanLote.tieneMuestras}">Lote con <span th:text="${beanLote.numeroMuestras}"/> muestras</legend>
			<legend class="w-auto font-weight-bold m-0" th:if="!${beanLote.tieneMuestras}">Lote sin muestras</legend>
			<div class="row">
				<div class="col-4 m-0 form-group">
					<label>Código</label>
				 	<input type="text" class="form-control form-control-sm" th:field="${beanLote.numLote}"  th:value="${beanLote.numLote}" required maxlength="50"/>
				 	<label class="text-warning" th:if="${#fields.hasErrors('numLote')}" th:errors="${beanLote.numLote}"></label>
				</div>
				<div class="col-4 m-0 form-group">
					<label>Capacidad</label>
				 	<input type="text" class="form-control form-control-sm" th:field="${beanLote.capacidad}"  th:value="${beanLote.capacidad}" pattern="[0-9]+" maxlength="3" required/>
				 	<label class="text-warning" th:if="${#fields.hasErrors('capacidad')}" th:errors="${beanLote.capacidad}"></label>
				</div>
			</div>		
			<div class="row">			
				<div class="col-4 m-0 form-group">
					<label>Laboratorio</label>															
				 	<ul style="list-style: none;">
				 		<li>
				 			<input type="radio" name="idLaboratorio" id="idLaboratorioSin" th:field="${beanLote.idLaboratorio}" value=""></input>
				 			<label>Sin laboratorio</label>
				 		</li>				 		
				 		<li th:each="var : ${listaLaboratorios}">
					    	<input type="radio" th:field="*{idLaboratorio}" th:value="${var.id}" />
					    	<label th:for="${#ids.prev('idLaboratorio')}" th:text="${var.nombre}"></label>
					    	<!-- TODO - OCUPACION CAPACIDAD 
					    	<div style="padding-left:15px">
						    	<span th:if="${var.ocupacion} != null" th:text="${'Ocupación: ' + var.ocupacion}"></span>
						    	<span th:if="${var.capacidad} != null" th:text="${'Capacidad: ' + var.capacidad}"></span>
					    	</div>
					    	 -->
					  	</li>
					</ul>
				</div>				
			</div>
			<div class="row">
				<div class="col-4 m-0 form-group" th:if="${beanLote.estado == null}">
					<label>Estado</label>
				 	<input type="text" class="form-control form-control-sm" disabled></input>
				</div>
				<div class="col-4 m-0 form-group" th:if="${beanLote.estado != null}">
					<label>Estado</label>
				 	<input type="text" class="form-control form-control-sm" disabled th:value="${beanLote.estado.estado.descripcion}"></input>
				</div>
				<div class="col-4 m-0 form-group">
					<label>Fecha envío</label>
				 	<input type="text" class="form-control form-control-sm" disabled th:value="${#dates.format(beanLote.fechaEnvio, 'dd/MM/yyyy')}"></input>
				</div>				
			</div>					
		</fieldset>
		

		<!-- ACCCIONES -->
		<div class="row justify-content-center mt-3">
			<div class="col-2">
				<a th:href="@{/centroSalud/lote/list}" class="btn btn-secondary">Volver</a>				
			</div>
			<div class="col-2">
				<button th:disabled="!${editable}" type="submit" class="btn btn-secondary">Guardar</button>
			</div>
			<div class="col-2">
				<button id="accionEnviado" th:disabled="!${beanLote.tieneMuestras} or ${beanLote.idLaboratorio == null} or !${editable}" type="button" class="btn btn-secondary">Enviado</button>
			</div>			
		</div>					
	</form>
	
	<!-- formuario para envio de lote -->
	<form action="#" th:action="@{/centroSalud/lote/enviado}" method="post" th:object="${beanLote}" id="formGuardarEnviado" role="form">
		<input type="hidden" th:field="${beanLote.id}"  th:value="${beanLote.id}" />
		<input type="hidden" id="idLaboratorioEnviado" name="idLaboratorio" th:value="${beanLote.idLaboratorio}" />
	</form>
	

	</div>
	<object th:replace="fragmentos :: footer-responsive" th:remove="tag"></object>
    <object th:replace="fragmentos :: scripts" th:remove="tag"></object>
    <script type="text/javascript">
    	// habilita/deshabilita la accion enviado lote
	    $(function () {
	        $("input[name='idLaboratorio']").click(function () {
	        	var tieneMuestras = $('#tieneMuestras').val();
	        	
		        if (tieneMuestras == 'true') {
			        var radioValue = $("input[name='idLaboratorio']:checked"). val();
		        	if (radioValue == '') {
		        		$("#accionEnviado").addClass('disabled');
			        } else {
		        		$("#accionEnviado").removeClass('disabled');
		        		$("#accionEnviado").removeAttr('disabled');
			        }		
			        $("#idLaboratorioEnviado").val(radioValue);
		        }      
	        });
	    });

    	// lote enviado
	    $(function () {
	        $("#accionEnviado").click(function () {
		    	$("#formGuardarEnviado").submit();
	        });
	    });

	    $('.alert').on('closed.bs.alert', function () {
		    $('#alertInfo').removeClass('d-none');
	    });
	    
    </script>
</body>
</html>