<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PCR-COVID19 - GESTION LaboratorioCentroS</title>
<object th:include="fragmentos :: fragmentoHead" th:remove="tag"></object>
</head>
<body>

	<object th:replace="fragmentos :: header-responsive" th:remove="tag"></object>
	<object th:replace="fragmentos :: navbar-responsive" th:remove="tag"></object>

	<div class="container">
		<div class="alert alert-secondary m-1 mt-2" role="alert"
			id="alertInfo">
			<label>Gestión de laboratorios UCM</label>
		</div>
		<div th:if="${mensajeError !=null}"
			class="alert alert-danger alert-dismissible fade show m-1 mt-2"
			role="alert">
			<label th:text="${mensajeError}"></label>
			<button type="button" class="close" data-dismiss="alert"
				aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="row justify-content-middle m-2">
			<div class="col-3">
				<a th:href="@{/gestor/altaLaboratorioCentro}"
					class="btn btn-secondary eBtn">Añadir Laboratorio UCM</a>
			</div>
		</div>
		<!-- Lista de laboratorios existentes -->
		<div class="row justify-content-center mt-3">
			<table class="table">
				<thead class="thead-light">
					<tr>
						<th class="p-1" scope="col">Nombre</th>
						<th class="p-1" scope="col">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="laboratorio:${listaLaboratorioCentro}">
						<td class="p-1" th:text="${laboratorio.nombre}"></td>
						<td class="p-1"><a style="color: black"
							th:href="@{/gestor/editarLaboratorioCentro(idLaboratorioCentro=${laboratorio.id})}"
							title="Editar"> <i class="fa fa-edit" aria-hidden="true"
								style="font-size: 1.2em;"></i>
						</a> <a style="color: black"
							th:data-href="@{/gestor/borrarLaboratorioCentro(idLaboratorioCentro=${laboratorio.id})}"
							title="Borrar" data-toggle="modal" data-target="#confirm-borrar">
								<i class="fa fa-eraser" aria-hidden="true"
								style="font-size: 1.2em;"></i>
						</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- Diálogo de borrado -->
		<object th:replace="fragmentos :: modal-borrar" th:remove="tag"></object>
	<object th:replace="fragmentos :: footer-responsive" th:remove="tag"></object>
	<object th:replace="fragmentos :: scripts" th:remove="tag"></object>
</body>
</html>