<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Búsqueda de Lotes-covid19</title>
<object th:include="fragmentos :: fragmentoHead" th:remove="tag"></object>

</head>
<body>

  <object th:replace="fragmentos :: header-responsive" th:remove="tag"></object>
	<object th:replace="fragmentos :: navbar-responsive" th:remove="tag"></object>
<div id="lotesRecibidos" class="container">
	<div class="row justify-content-center mt-1 ">
			<h5>Gestión de Placas</h5>
    </div>
    <div class="row justify-content-left mt-3">
     
    <!-- 	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">		      
				<div class="list-group">
				  <a href="/laboratorioUni/buscarLotes" class="list-group-item list-group-item-action text-white bg-secondary">Gestión lotes centros de salud</a>
				  <a href="/laboratorioUni/buscarPlacas" class="list-group-item list-group-item-action">Gestión placas Visavet</a>
				  <a href="#" class="list-group-item list-group-item-action">Salir</a>
				</div>
		</div>
 -->

   <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">		      
	<form action="#" th:action="@{/laboratorioUni/buscarPlacas}"
			id="formularioPrueba" method="post" th:object="${busqueda}"
			class="form-horizontal">
			<fieldset id="criteriosBusqueda" class="form-group border p-2">
		    <legend class="w-auto">Búsqueda Placas</legend>
			  <div class="row">
				<div class="col-4 form-group">
				<label class="col-xs-2">Laboratorio asignado:</label>
			    <select class="form-control form-control-sm" id="centro" th:field="*{idLaboratorioCentro}">
			    <option value="">Seleccione</option>
					<option th:each="var: ${busqueda.listaLaboratorioCentro}"
									th:value="${var.id}" th:text="${var.nombre}"
									th:select="${busqueda.idLaboratorioCentro}">Laboratorio</option>
				</select>
				</div>
				<div class="col-4 form-group">
				<label class="col-xs-2">Número de Lote:</label>
						<div class="col-xs-7">
								<input type="text" class="form-control form-control-sm" id="numLote"
								th:value="${busqueda.numLote}"
								th:field="*{numLote}" />
						</div>
			    </div>
			     <div class="col-4 form-group">
						<label class="col-xs-3">Estado:</label>
						<div class="col-xs-9">
							<select class="form-control form-control-sm" id="estado"
								th:field="*{codNumEstadoSeleccionado}">
                                <option value="">Seleccione</option>
								<option th:each="var: ${busqueda.listaBeanEstado}"
									th:value="${var.estado.codNum}" th:text="${var.estado.descripcion}"
									th:selected="${busqueda.codNumEstadoSeleccionado}">Estado</option>
							</select>
						</div>
						
					</div>
			  </div>
			  <div class="row">
				<div class="col-4 form-group">
			
						<label class="col-xs-2">Fecha de Creación:</label>
						 		<input type="date" class="form-control" id="fechaCreacionInicio"
								th:field="*{fechaCreacionInicio}" th:value="${busqueda.fechaCreacionInicio}" />
						a <input type="date" class="form-control" id="fechaCreacionFin"
								th:field="*{fechaCreacionFin}" th:value="${busqueda.fechaCreacionFin}" />
                   </div>
                   <div class="col-4 form-group">
			
                   	<label class="col-xs-4">Muestra:</label>
					<input type="text" class="form-control" id="muestra"
								th:value="${busqueda.muestra}"
								th:field="*{muestra}" />
						</div>
                 </div>  

        <div class="row justify-content-end mt-3">
			<div class="col-2">
			 <button type="submit"  class="btn btn-secondary">Buscar</button>
			
			<!--  <button type="button" th:onClick="|buscarResultados('lote','DESC','2','20'); return false|"  class="btn btn-secondary">Buscar</button>-->
			</div>
		</div>	
		</fieldset>
		
		</form>
		</div>
		
		<!-- Aqui vienen los resultados -->
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">	&nbsp;</div>
	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">	
		<div id="capaResultados" 
			class="row formPnl1"  th:unless="${(pagina == null)}">
		 	<table class="col-xs-12 table" th:id="tablaResultados" >
			 <thead class="thead-light">
				<tr>
				    
					<th scope="col">#Placa</th>
					<th scope="col">F. Creación</th>
					<th scope="col">#Lotes</th>
					<th scope="col">Nº Muestras</th>
				    <th scope="col">Estado</th>
				    <th scope="col">Acciones</th>
				</tr>
				</thead>
				<tbody>	
			 	<tr th:id="trGroup+${count.index}"  th:each="unResultado,count : ${pagina.getContent()}">
					<td><span th:text="${unResultado.id}"></span></td>
					<td><span th:text="${#dates.format(unResultado.fechaCreacion, 'dd-mm-yyyy')}"></span></td>
                    <td> <!-- ${unResultado.listaLotes}">  -->
                    
                            <a data-toggle="modal" data-target="#modalConsultarLotes" th:attr="data-target='#modalConsultarLotes'+${unResultado.id}" style="cursor: pointer;" title="Ver lotes">                                                 
                    <i class="fa fa-table" aria-hidden="true" style="font-size: 1.2em;"></i><span th:text="${#lists.size(unResultado.listaLotes)}"></span>	
                       </a>
                       
                           <!--  un modal -->
                           
                           	<div class="modal fade" th:id="modalConsultarLotes+${unResultado.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
								<div class="modal-dialog modal-xl" role="document">
							    	<div class="modal-content">
							      		<div class="modal-header">
							        		<h5 class="modal-title" id="exampleModalLabel">Lotes Placa - <b><span th:text="${unResultado.id}"/></b> con <span th:text="${#lists.size(unResultado.listaLotes)}"/> lotes</h5>
							        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          			<span aria-hidden="true">&times;</span>
							        		</button>
							      		</div>
							      		<div class="modal-body">							        
								        	
								          	<div id="tablaMuestras" >
												<table>
													<thead class="thead-light">	
									    				<tr>
										      				<th>Lote</th>
															<th>Número de muestras</th>
															
														</tr>
													</thead>
													<tbody>
														<tr th:if="${unResultado.listaLotes != null}" th:each="lote,count : ${unResultado.listaLotes}">
															<td>
															<input type="text" id="lote+${count.index}" th:value="${lote.id}"/>
															<span th:text="${lote.numLote}"></span></td>					
															<td><span th:text="${#lists.size(lote.listaMuestras)}"></span></td>
																													
														</tr>		
													</tbody>
												</table>
											</div>								        
							      		</div>
									    <div class="modal-footer">
									    	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>							        
										</div>
							    	</div>
							  	</div>
							</div>
		
		  
                           <!-- fin modal -->
					</td>
                     <td> 
<a data-toggle="modal" data-target="#modalConsultarMuestras" th:attr="data-target='#modalConsultarMuestras'+${unResultado.id}" style="cursor: pointer;" title="Ver muestras">                                                 
                    <i class="fa fa-table" aria-hidden="true" style="font-size: 1.2em;"></i><span th:text="${#lists.size(unResultado.listaMuestras)}"></span>	
                       </a>
                       
                           <!--  un modal -->
                           
                           	<div class="modal fade" th:id="modalConsultarMuestras+${unResultado.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
								<div class="modal-dialog modal-xl" role="document">
							    	<div class="modal-content">
							      		<div class="modal-header">
							        		<h5 class="modal-title" id="exampleModalLabel">Muestras Placa - <b><span th:text="${unResultado.id}"/></b> con <span th:text="${#lists.size(unResultado.listaMuestras)}"/> muestras</h5>
							        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          			<span aria-hidden="true">&times;</span>
							        		</button>
							      		</div>
							      		<div class="modal-body">							        
								        	
								          	<div id="tablaMuestras" >
												<table>
													<thead class="thead-light">	
									    				<tr>
										      				<th>Etiqueta</th>
															<th>Tipo Muestra</th>
															<th>Referencia Interna</th>
															
														</tr>
													</thead>
													<tbody>
														<tr th:if="${unResultado.listaMuestras != null}" th:each="muestra : ${unResultado.listaMuestras}">
															<td><span th:text="${muestra.etiqueta}"></span></td>					
															<td><span th:text="${muestra.tipoMuestra}"></span></td>
															<td><span th:text="${muestra.referenciaInterna}"></span></td>		
																													
														</tr>		
													</tbody>
												</table>
											</div>								        
							      		</div>
									    <div class="modal-footer">
									    	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>							        
										</div>
							    	</div>
							  	</div>
							</div>
		
		  
                           <!-- fin modal -->
                     </td>
                     <td>
						<span th:text="${#strings.toString(unResultado.estado.Estado.descripcion)}"></span>
					</td>
					<td>	
						<a th:if="${#strings.toString(unResultado.estado.Estado) == 'PLACAVISAVET_PREPARADA'}"  th:data-id="${unResultado.id}" onclick="procesarLotesDesdePlacas(this.getAttribute('data-id'))">
						     <i class="fa fa-edit" title="Modificar placa" aria-hidden="true" style="font-size: 1.2em;"></i>
						</a>
						<i title="Modificar placa" th:unless="${#strings.toString(unResultado.estado.Estado) == 'PLACAVISAVET_PREPARADA'}" class="fa fa-edit" aria-hidden="true" style="font-size: 1.2em;color:grey;"></i>
						<a  th:if="${#strings.toString(unResultado.estado.Estado) == 'PLACAVISAVET_FINALIZADA' or  #strings.toString(unResultado.estado.Estado) == 'PLACAVISAVET_ASIGNADA'}" data-toggle="modal"  data-target="#modalLaboratorio"   th:attr="data-target='#modalLaboratorio'" th:data-id="${unResultado.id}"  th:onClick="|consultarOcupacionLaboratorio(this.getAttribute('data-id'));|">
                          <i class="fa fa-flask" aria-hidden="true" title="Asignar laboratorio" style="font-size: 1.2em;"></i>
						</a>
						<i  title="Asignar laboratorio" th:unless="${#strings.toString(unResultado.estado.Estado) == 'PLACAVISAVET_FINALIZADA' or  #strings.toString(unResultado.estado.Estado) == 'PLACAVISAVET_ASIGNADA'}" class="fa fa-flask"  aria-hidden="true" style="font-size: 1.2em;color:grey;"></i>
					  <a th:if="${#strings.toString(unResultado.estado.Estado) == 'PLACAVISAVET_ASIGNADA'}"  th:data-id="${unResultado.id}" th:data-laboratorio="${unResultado.laboratorioCentro.nombre}" data-toggle="modal"  data-target="#modalConfirmRecibido"   th:attr="data-target='#modalConfirmRecibido'" th:onClick="|cambiarEstadoaEnviada(this.getAttribute('data-id'),this.getAttribute('data-laboratorio'));|">
					  	<i class="fa fa-share-square" title="Confirmar Enviada" aria-hidden="true" style="font-size: 1.2em;"></i>
						</a>
						<i th:unless="${#strings.toString(unResultado.estado.Estado) == 'PLACAVISAVET_ASIGNADA'}"  class="fa fa-share-square" title="Confirmar Enviada" aria-hidden="true"  style="font-size: 1.2em;color:grey;"></i>
						
                    </td>		  
					</tr>	
				</tbody>		
			</table>
			
			
		
		</div> 
	<!--  <div th:include="fragmentos :: paginador(${busquedaLotes.urlPaginada},${paginaLotes},${busquedaLotes.orden},${busquedaLotes.sentidoOrden},'0')"></div>
		-->
		</div>

	</div>
		</div> 	
	<!-- Empiezan los modales -->
			<!--  Confirmar Recibido -->
			    	<div class="modal fade" id="modalConfirmRecibido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
								<div class="modal-dialog">
							    	<div class="modal-content">
							      		<div class="modal-header">
							        		<h5 class="modal-title" id="exampleModalLabel">Confirmar placa enviada</h5>
							        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          			<span aria-hidden="true">&times;</span>
							        		</button>
							      		</div>
							      		<div class="modal-body">							        
								        	
								          	<div id="tablaMuestras">
												<table>
													<thead class="thead-light">	
									    				<tr>
										      				<th>Número de Placa</th>
															<th>Laboratorio</th>
															
															
														</tr>
													</thead>
													<tbody>
														<tr>
															<td><span id="idPlaca"></span></td>					
															<td><span id="laboratorio"></span></td>
																
																													
														</tr>		
													</tbody>
												</table>
											</div>								        
							      		</div>
									    <div class="modal-footer">
									    <input type="hidden" id="idConfirmar" value=""></input>
									    <button type="button" id="aceptarConfirmacion"  class="btn btn-secondary" data-dismiss="modal"  th:onclick="|confirmarPlacaEnviada()|">Aceptar</button>
										<button type="button" id="cerrarConfirmacion"  class="btn btn-secondary"  data-dismiss="modal">Cerrar</button>
									
									    						        
										</div>
							    	</div>
							  	</div>
							</div>
		
			
			
			
		
<!--  	 fin  Recibido -->
	<!-- consultar Muestras -->
<div id="modalConsultarMuestras" class="modal fade modal1 in" role="dialog">
   <div id="ventanaConfirmRecibido" class="modal-dialog ">
    
	<div class="modal-content">
         <div class="modal-header" id="modal-header">
         <button class="close" data-dismiss="modal" type="button">×</button>
	
         <h4 class="modal-title"> <span id="modalTitleNombre" class="info">Muestras incluidas en el Lote</span>
         </h4>
        </div>

	<div id="mensajeSinSeleccionarTit" style="display: block; height: 70px;">
		<span style="text-align: center; padding-top: 30px; padding-left: 30px;"></span>
	
						<label>Número muestra de lote:</label><span id="mensajeConfirmar"></span>
						<label>Centro muestra de procedencia:</label><span id="mensajeCentroProcedencia"></span>
						<div id="capaMuestrasMostrar">
							<table class="col-xs-12 table" th:id="tablamuestras" >
					     	<tr id="trMuestra">	</tr>
			            	<tr id="trMuestra"  th:each="unaMuestra, count : ${muestras}">
			            	
				              <td><span th:text="${#strings.toString(unaMuestra.etiqueta)}"></td>
				              <td><span th:text="${#strings.toString(unaMuestra.referenciaInterna)}"></td>
				            </tr>
							    
							   
							    </table>
							    </div>	
									<div class="modal-footer">
									<input type="hidden" id="id" value=""></input>
									  	<button type="button" id="cerrarConfirmacion" data-dismiss="modal">Cerrar</button>
										
									</div>
						

				</div><!-- 4 -->




						</div><!-- 3 -->
						</div><!-- 2 -->
	</div> <!-- 1 -->
	

		</div>
		</div>			

<!--  Fin consultar Muestras -->
<div th:id="modalLaboratorio" class="modal fade" role="dialog"  aria-labelledby="exampleModalLabel" aria-hidden="true" >
   <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
         <div class="modal-header" id="modal-header">
         <button class="close" data-dismiss="modal" type="button">×</button>
	     <h4 class="modal-title"> <span id="modalTitleNombre" class="info">Asignar Placa a laboratorio</span>
         </h4>
         </div>
         <div class="modal-body">
		 <form id="laboratorioForm" action="" th:modelAttribute="beanPlacaVisavetUCM" >
			 <label class="col-xs-2">Laboratorio a asignar:</label>
			    <select class="form-control form-control-sm" id="laboratorioLab">
			    <option value="">Seleccione</option>
				<option th:each="var: ${busqueda.listaLaboratorioCentro}"
									th:value="${var.id}" th:text="${var.nombre}"
									th:select="${busqueda.idLaboratorioCentro}">Laboratorio</option>
				</select>
				<div id="capaMuestrasMostrar">
				<table class="col-xs-12 table" th:id="tablaLaboratorios" >
				  <thead><tr><th scope="col">Nombre</th><th scope="col">Nº de equipos</th><th scope="col">Placas a la espera</th>
				  </tr>
				  </thead>
					 <tr id="trLaboratorio">	</tr>
			     <tr id="trLaboratorio"  th:each="laboratorio, count : ${laboratorios}">
			      <td><span th:text="${#lists.size(laboratorio.nombre)}"></td>
			             <td><span th:text="${#lists.size(laboratorio.equipos)}"></td>
				         <td><span th:text="${#strings.toString(laboratorio.placasVisavetaLaEspera)}"></td>
				      </tr>  
				      
				</table>
			  </div>	
			<div class="modal-footer">
			<input type="text" id="idPlacaLab" value=""></input>	
			<button type="button" id="asignarLaboratorio" class="btn btn-secondary" onClick="asignarLaboratoriodesdeModal();">Asignar Laboratorio</button>
			<button type="button" id="cerrarConfirmacion" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			</div>
			</form>
         </div>
     </div>
   </div>
						
	</div> 	
		<!-- Fin asignarLaboratorio -->	
	
<object th:replace="fragmentos :: footer-responsive" th:remove="tag"></object>
<object th:include="fragmentos :: scripts" th:remove="tag"></object>


	
</body>
</html>