<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PCR-COVID19 - MUESTRAS</title>
<object th:include="fragmentos :: fragmentoHead" th:remove="tag"></object>
</head>
<body>

	<object th:replace="fragmentos :: header-responsive" th:remove="tag"></object>
	
	<object th:replace="fragmentos :: navbar-responsive" th:remove="tag"></object>
	 
	<div class="container">	
	
	<form action="#" th:action="@{/analisis/list}" method="post" th:object="${beanBusquedaMuestra}" id="formBusqueda" role="form">
		
		<!-- CRITERIOS BUSQUEDA PACIENTE -->
		<!-- 
		<fieldset id="datosPaciente" class="form-group border p-2">
			<legend class="w-auto">Paciente</legend>
			<div class="row">
				<div class="col-4 form-group">
					<label >Nombre</label>
				 	<input  type="text" class="form-control form-control-sm" th:field="${beanBusquedaMuestra.nombrePaciente}"  th:value="${beanBusquedaMuestra.nombrePaciente}" maxlength="100"/>
				</div>	
				<div class="col-4 form-group">
					<label >Correo</label>
				 	<input  type="text" class="form-control form-control-sm" th:field="${beanBusquedaMuestra.emailPaciente}"  th:value="${beanBusquedaMuestra.emailPaciente}" maxlength="25"/>
				</div>
			</div>
			<div class="row">
				<div class="col-4 form-group">
					<label >NHC</label>
				 	<input  type="text" class="form-control form-control-sm" th:field="${beanBusquedaMuestra.nhcPaciente}"  th:value="${beanBusquedaMuestra.nhcPaciente}" maxlength="10"/>
				</div>					
			</div>
		</fieldset>
		 -->
		<!-- CRITERIOS BUSQUEDA MUESTRAS -->
		<fieldset id="datosMuestras" class="form-group border p-2">
			<legend class="w-auto">Muestra</legend>
			<div class="row">
				<div class="col-3 form-group">
					<label >Etiqueta</label>
				 	<input  type="text" class="form-control form-control-sm" th:field="${beanBusquedaMuestra.etiquetaMuestra}"  th:value="${beanBusquedaMuestra.etiquetaMuestra}" maxlength="10"/>
				</div>	
				<div class="col-3 form-group">
					<label >Fecha envío</label>
				 	<input  type="date" class="form-control form-control-sm" th:field="${beanBusquedaMuestra.fechaEnvioMuestraIni}"  th:value="${beanBusquedaMuestra.fechaEnvioMuestraIni}"/>
				</div>
				<div class="col-3 form-group">
					<label >a</label>
				 	<input  type="date" class="form-control form-control-sm" th:field="${beanBusquedaMuestra.fechaEnvioMuestraFin}"  th:value="${beanBusquedaMuestra.fechaEnvioMuestraFin}"/>
				</div>			
				<div class="col-3 form-group">
					<label >Resultado</label>
					<select class="form-control form-control-sm" th:field="${beanBusquedaMuestra.estadoMuestra}"  th:value="${beanBusquedaMuestra.estadoMuestra}">
				 		<option value="">Seleccione</option>
				 		<option th:each="var: ${beanListaPosiblesResultadosMuestra}"
									th:value="${var.resultadoMuestra.cod}" th:text="${var.resultadoMuestra.descripcion}"
									th:select="${beanBusquedaMuestra.estadoMuestra}">Estado</option>
				 	</select>					
				</div>					
			</div>
			
			<div class="row">
				<div class="col-3">
					<label >Ref. interna</label>
				 	<input  type="text" class="form-control form-control-sm" th:field="${beanBusquedaMuestra.refInternaMuestra}"  th:value="${beanBusquedaMuestra.refInternaMuestra}" maxlength="10"/>
				</div>	
				<div class="col-3">
					<label >Fecha resultado</label>
				 	<input  type="date" class="form-control form-control-sm" th:field="${beanBusquedaMuestra.fechaResultadoMuestraIni}"  th:value="${beanBusquedaMuestra.fechaResultadoMuestraIni}"/>
				</div>
				<div class="col-3">
					<label >a</label>
				 	<input  type="date" class="form-control form-control-sm" th:field="${beanBusquedaMuestra.fechaResultadoMuestraFin}"  th:value="${beanBusquedaMuestra.fechaResultadoMuestraFin}"/>
				</div>
				<div class="col-3 form-group">
					<label >Placa laboratorio</label>					
					<select class="form-control form-control-sm" th:field="${beanBusquedaMuestra.idPlacaLaboratorio}">
	     				<option th:each="placa : ${beanListaPlacasDeJefe}" th:value="${placa.codigo}" th:text="${placa.descripcion}">idPlaca</option>
	     			</select>					
				</div>											
			</div>
			
		</fieldset>
		
		<!-- Diana, metemos un div no visible con un input con los codnum's de muestras que se han ido marcando para cerrar -->
		<div class="row" style="display: none"> 
			<label>				
				listaCodnumMuestrasMarcadasParaCerrar 
			</label>
			<input  type="text" id="idListaCodnumMuestrasMarcadasParaCerrar" style="width: 400px !important;" />
		</div> 
		<!-- fin input con codnums -->
		
		<!-- Modal para mostrar al usuario las muestras marcadas para borrar y boton de confirmacion o cancelar -->
		
		
		<!-- Modal id="exampleModalScrollable"-->
		<div id="modalCerrarMuestras" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-scrollable" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div id="modalCerrarMuestrasBody" class="modal-body">
		        ...CUERPO MODAL
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
		        <!-- <button type="button" class="btn btn-primary">Cerrar muestras</button> -->
		        <a href="#" class="btn btn-secondary"
				onclick="return EjecutarCierreMuestras();">
				Cerrar muestras
				</a>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- fin Modal para mostrar al usuario las muestras marcadas para borrar y boton de confirmacion o cancelar -->
		
		<!-- modal para mostrar un alert -->
		<div id="alert-modal" class="modal fade">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		      	<h4 id="alert-modal-title" class="modal-title"></h4>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>		        
		      </div>
		      <div id="alert-modal-body" class="modal-body alert alert-warning"></div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- fin modal para mostrar un alert -->

		<div class="row justify-content-end mt-3">			
			<div class="col-1">
				<button type="submit" class="btn btn-secondary">Buscar</button>
			</div>
		</div>	
		
		<!-- PAGINACION -->
		<object th:replace="fragmentos :: paginacion(${paginadorBean})" th:remove="tag"></object>
		
		<!-- RESULTADO -->
		<div class="row justify-content-center mt-3">
			<table class="table">
				<thead class="thead-light">	
	    			<tr>
	    			    <!-- <th scope="col">Cerrar</th> -->
	    			    <th scope="col">Id</th>
	    				<th scope="col">Analistas</th>
	      				<!-- <th scope="col">Nombre</th>
						<th scope="col">NHC</th> -->
						<th scope="col">Etiqueta</th>
						<th scope="col">Ref. interna</th>
						<th scope="col">Placa</th>
						<th scope="col">Fecha envío</th>
						<th scope="col">Fecha resultado</th>
						<th scope="col">Resultado</th>
						<!-- <th scope="col">Estado</th>	 -->						
						<!-- <th scope="col">Asignar</th> -->
						<!-- <th scope="col">Acciones</th> -->
					</tr>
				</thead>
				<tbody th:if="${listadoMuestras != null}" th:each="muestra : ${listadoMuestras}">	
					<!-- data-target="#group-of-rows-1" -->			
					<tr >
						<!-- 
						<td>							
							<input class="form-check-input, justify-content-center"
									th:disabled="${muestra.esCerrable == false}"
									type="checkbox" name="idCerrar" th:id="idCerrar"									
									th:onClick="|AniadirOQuitarElementoAListaDeMuestrasACerrar(this, '${muestra.id}')|">
							</input>
						</td>
						 -->
						<td>							
							<span th:text="${muestra.id}"></span>							
						</td> 
						<td class="clickable" data-toggle="collapse" th:data-target="${'#analistas'+ muestra.id}" aria-expanded="false" th:aria-controls="${'analistas'+ muestra.id}">
							<!-- <i class="fa fa-folder"></i> -->
							<a href=# style="color:black" data-toggle="tooltip" title="Ver analistas">					         
					          <i class="fa fa-child" aria-hidden="true" style="font-size: 1.2em;"></i>
					         </a>
						</td>					
						<!-- <td>
							<span th:text="${muestra.nombrePaciente}"></span>
						</td>					
						<td>
							<span th:text="${muestra.nhcPaciente}"></span>							
						</td> -->
						<td>							
							<span th:text="${muestra.etiquetaMuestra}"></span>							
						</td>
						<td>
							<span th:text="${muestra.refInternaMuestra}"></span>							
						</td>
						<td>
							<span th:text="${muestra.idPlacaLaboratorio}"></span>							
						</td>
						<td>
							<span th:text="${#dates.format(muestra.fechaEnvioMuestraIni, 'dd/mm/yyyy')}"></span>
						</td>
						<td>
							<span th:text="${#dates.format(muestra.fechaResultadoMuestraIni, 'dd/mm/yyyy')}"></span>
						</td>
						<td>
							<span th:text="${muestra.resultado}"></span>
						</td>
						<!-- <td>
							<span th:text="${muestra.estadoMuestra}"></span>
						</td> -->						
					    <!-- <td>
					        <a th:href="@{/analisis/asignar(idMuestra=${muestra.id} )}" data-toggle="tooltip" title="Asignar">					         
					          <i class="fa fa-child" aria-hidden="true"></i>
					        </a>
						</td> -->
						<!-- ACCIONES -->
						<!-- <td>
												        
					        <a style="color:black" th:href="@{/analisis/revisar(idMuestra=${muestra.id} )}" data-toggle="tooltip" title="Revisar">					         
					          <i class="fa fa-edit" aria-hidden="true" style="font-size: 1.2em;"></i>
					        </a>
						</td> -->
					</tr>				
					<!-- id="group-of-rows-1" -->	
					<tr th:id="${'analistas'+ muestra.id}" class="collapse table-warning">
						<td></td>
						<td></td>
						<!-- <td><i class="fa fa-folder-open"></i></td> -->
						<td colspan="2">							
							<label>Analistas</label>
							<ul th:each="analistaLab : ${muestra.beanAnalisis.beanListaAsignaciones.listaAnalistasLab}">							
								<li><span th:text="${analistaLab.beanUsuario.nom}"></span>; 
									<!-- <span th:text="${analistaLab.fechaAsignacion}"></span>;  -->
									<span th:text="${analistaLab.valoracion}"></span> 
								</li>
							</ul>						
						</td>
						<td colspan="2">							
							<label>Voluntarios</label>
							<ul th:each="voluntarioLab : ${muestra.beanAnalisis.beanListaAsignaciones.listaAnalistasVol}">							
								<li><span th:text="${voluntarioLab.beanUsuario.nom}"></span>; 
									<!-- <span th:text="${voluntarioLab.fechaAsignacion}"></span>;  -->
									<span th:text="${voluntarioLab.valoracion}"></span> 
								</li>
							</ul>						
						</td>
						<td colspan="2">							
							<label>Otros voluntarios</label>
							<ul th:each="voluntarioSinLab : ${muestra.beanAnalisis.beanListaAsignaciones.listaAnalistasVolSinLabCentro}">							
								<li><span th:text="${voluntarioSinLab.beanUsuario.nom}"></span>; 
									<!-- <span th:text="${voluntarioSinLab.fechaAsignacion}"></span>;  -->
									<span th:text="${voluntarioSinLab.valoracion}"></span> 
								</li>
							</ul>						
						</td>
						<td colspan="1">
						</td>
					</tr>	
			
			</tbody>
			
			</table>
		</div>
		
		<!-- 
		<div class="row justify-content-start mt-3">
			<div class="col-2">
				<a href="#" class="btn btn-secondary"			
				th:onclick="|cargarModalCerrarMuestras(); return false|" >
				Cerrar muestras</a>
			</div>	
		</div>
		 -->
	</form>

	</div>
		
	
	
	<object th:replace="fragmentos :: footer-responsive" th:remove="tag"></object>
	
	<object th:replace="fragmentos :: scripts" th:remove="tag"></object>
	
	<script th:src="@{/js/analisis.js}"></script>
    
</body>
</html>