<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Búsqueda de Lotes-covid19</title>
<object th:include="fragmentos :: fragmentoHead" th:remove="tag"></object>

</head>
<body>

  <object th:replace="fragmentos :: header-responsive" th:remove="tag"></object>
	<object th:replace="fragmentos :: navbar-responsive" th:remove="tag"></object>
<div id="lotesRecibidos" class="container">
	<div class="alert alert-secondary m-1 mt-2" role="alert">
			<label>Gestión de placas</label>
		</div>
    <!--  <div class="row justify-content-left mt-3">
     
    

   <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">		 -->      
	<form action="#" th:action="@{/laboratorioUni/buscarPlacas}"
			id="formularioPrueba" method="post" th:object="${busqueda}"
			class="form-horizontal">
			<fieldset id="criteriosBusqueda" class="form-group border p-2">
		    <legend class="w-auto">Búsqueda Placas</legend>
			  <div class="row">
				<div class="col-4 form-group">
				<label class="col-xs-2">Laboratorio asignado:</label>
			    <select class="form-control form-control-sm" id="centro" th:field="*{idLaboratorioCentro}">
			    <option value="">Seleccione</option>
					<option th:each="var: ${busqueda.listaLaboratorioCentro}"
									th:value="${var.id}" th:text="${var.nombre}"
									th:select="${busqueda.idLaboratorioCentro}">Laboratorio</option>
				</select>
				</div>
				<div class="col-4 form-group">
				<label class="col-xs-2">Id. Placa:</label>
						<div class="col-xs-7">
								<input type="text" class="form-control form-control-sm" id="idPlaca"
								th:value="${busqueda.idPlaca}"
								th:field="*{idPlaca}" />
						</div>
			    </div>
			     <div class="col-4 form-group">
						<label class="col-xs-3">Nombre Placa:</label>
						<div class="col-xs-9">
							
								<input type="text" class="form-control form-control-sm" id="nombrePlacaVisavet"
								th:value="${busqueda.nombrePlacaVisavet}"
								th:field="*{nombrePlacaVisavet}" />
						</div>
						
					</div>
			  </div>
			  <div class="row">
				<div class="col-4 form-group">
			
						<label class="col-xs-2">Fecha de Creación:</label>
						 		<input type="date" class="form-control" id="fechaCreacionInicio"
								th:field="*{fechaCreacionInicio}" th:value="${busqueda.fechaCreacionInicio}" />
				</div>
					<div class="col-4 form-group">
			<label class="col-xs-2">
						a </label><input type="date" class="form-control" id="fechaCreacionFin"
								th:field="*{fechaCreacionFin}" th:value="${busqueda.fechaCreacionFin}" />
                   </div>
                   <div class="col-4 form-group">
						<label class="col-xs-3">Estado:</label>
						<div class="col-xs-9">
							<select class="form-control form-control-sm" id="estado"
								th:field="*{codNumEstadoSeleccionado}">
                                <option value="">Seleccione</option>
								<option th:each="var: ${busqueda.listaBeanEstado}"
									th:value="${var.estado.codNum}" th:text="${var.estado.descripcion}"
									th:selected="${busqueda.codNumEstadoSeleccionado}">Estado</option>
							</select>
						</div>
						
					</div>
                 <!-- <div class="col-4 form-group">
			
                   	<label class="col-xs-4">Muestra:</label>
					<input type="text" class="form-control" id="muestra"
								th:value="${busqueda.muestra}"
								th:field="*{muestra}" />
						</div> -->  
                 </div>  

      
		</fieldset>
		   <div class="row justify-content-end mt-2">
			<div class="col-1">
				 <button type="submit"  class="btn btn-secondary">Buscar</button>
			</div>
		</div>	
		</form>
		<!-- </div> -->
		
		<!-- PAGINACION -->
		<object th:replace="fragmentos :: paginacion(${paginadorBean})" th:remove="tag"></object>
		
		<!-- Aqui vienen los resultados -->
	<!--	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">	&nbsp;</div>
	<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">	-->
		<div id="capaResultados" 
			class="row justify-content-center mt-3"  th:unless="${(pagina == null)}">
		 	<table class="col-xs-12 table" th:id="tablaResultados" >
			 <thead class="thead-light">
				<tr>
				    
					<th class="p-1" scope="col" width="20%">#Placa</th>
					<th class="p-1" scope="col" width="20%">Nombre</th>
					<th class="p-1" scope="col" width="20%">F. Creación</th>
					<th class="p-1" scope="col" width="20%">#Lotes</th>
					<th class="p-1" scope="col" width="10%">Nº Muestras</th>
				    <th class="p-1" scope="col" width="20%">Estado</th>
				    <th class="p-1" scope="col" width="10%">Acciones</th>
				</tr>
				</thead>
				<tbody>	
			 	<tr th:id="trGroup+${count.index}"  th:each="unResultado,count : ${pagina.getContent()}" class="trGroupLotes">
					<td><span th:text="${unResultado.id}"></span></td>
					<td><span th:text="${unResultado.nombrePlacaVisavet}"></span></td>
					
					<td><span th:text="${#dates.format(unResultado.fechaCreacion, 'dd/MM/yyyy')}"></span></td>
                    <td> <!-- ${unResultado.listaLotes}">  -->
                    <p th:id="lotes+${unResultado.id}" th:class="lotes+${unResultado.id}" style="display:none" th:each="lote,count: ${unResultado.listaLotes}">
                            <input type="text" th:id="lote+${unResultado.id}+'_'+${count.index}" th:value="${lote.id}"/>
                            </p>
                            <a data-toggle="modal" data-target="#modalConsultarLotes" th:attr="data-target='#modalConsultarLotes'+${unResultado.id}" style="cursor: pointer;" title="Ver lotes">                                                 
                    <i class="fa fa-dropbox" aria-hidden="true" style="font-size: 1.2em;"></i>&nbsp;<span th:text="${#lists.size(unResultado.listaLotes)}"></span>	
                     
                       </a>
                       
                           <!--  un modal -->
                           
                           	<div class="modal fade" th:id="modalConsultarLotes+${unResultado.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
								<div class="modal-dialog modal-xl" role="document">
							    	<div class="modal-content">
							      		<div class="modal-header">
							        		<h5 class="modal-title" id="exampleModalLabel">Lotes Placa - <b><span th:text="${unResultado.id}"/></b> con <span th:text="${#lists.size(unResultado.listaLotes)}"/> lotes</h5>
							        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          			<span aria-hidden="true">&times;</span>
							        		</button>
							      		</div>
							      		<div class="modal-body">							        
								        	
								          	<div id="tablaMuestras" >
												<table>
													<thead class="thead-light">	
									    				<tr>
									    				    <th>Centro Procedencia</th>
										      				<th>Lote</th>
										      				<th>Ref. Interna lote</th>
															<th>Número de muestras</th>
															
														</tr>
													</thead>
													<tbody>
														<tr th:if="${unResultado.listaLotes != null}" th:each="lote,count : ${unResultado.listaLotes}">
														   <td><span th:text="${lote.centroProcedencia}"></span></td>
															<td>
															<input type="hidden" id="lote+${count.index}" th:value="${lote.id}"/>
															<span th:text="${lote.numLote}"></span></td>	
															<td><span th:text="${lote.referenciaInternaLote}"></span></td>				
															<td><span th:text="${#lists.size(lote.listaMuestras)}"></span></td>
																													
														</tr>		
													</tbody>
												</table>
											</div>								        
							      		</div>
									    <div class="modal-footer">
									    	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>							        
										</div>
							    	</div>
							  	</div>
							</div>
		
		  
                           <!-- fin modal -->
					</td>
                     <td> 
<a data-toggle="modal" data-target="#modalConsultarMuestras" th:attr="data-target='#modalConsultarMuestras'+${unResultado.id}" style="cursor: pointer;" title="Ver muestras">                                                 
                    <i class="fa fa-table" aria-hidden="true" style="font-size: 1.2em;"></i>&nbsp;<span th:text="${#lists.size(unResultado.listaMuestras)}"></span>	
                       </a>
                       
                           <!--  un modal -->
                           
                           	<div class="modal fade" th:id="modalConsultarMuestras+${unResultado.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
								<div class="modal-dialog modal-xl" role="document">
							    	<div class="modal-content">
							      		<div class="modal-header">
							        		<h5 class="modal-title" id="exampleModalLabel">Muestras Placa - <b><span th:text="${unResultado.id}"/></b> con <span th:text="${#lists.size(unResultado.listaMuestras)}"/> muestras</h5>
							        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          			<span aria-hidden="true">&times;</span>
							        		</button>
							      		</div>
							      		<div class="modal-body">							        
								        	
								          	<div id="tablaMuestras" >
												<table>
													<thead class="thead-light">	
									    				<tr>
										      				<th>Etiqueta</th>
															<th>Tipo Muestra</th>
															<th>Referencia Interna</th>
															
														</tr>
													</thead>
													<tbody>
														<tr th:if="${unResultado.listaMuestras != null}" th:each="muestra : ${unResultado.listaMuestras}">
															<td><span th:text="${muestra.etiqueta}"></span></td>					
															<td>
															<span th:if="${#strings.toString(muestra.tipoMuestra)=='N'}">Nariz</span>
															<span th:if="${#strings.toString(muestra.tipoMuestra)=='B'}">Boca</span>
															</td>
															<td><span th:text="${muestra.referenciaInterna}"></span></td>		
																													
														</tr>		
													</tbody>
												</table>
											</div>								        
							      		</div>
									    <div class="modal-footer">
									    	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>							        
										</div>
							    	</div>
							  	</div>
							</div>
		
		  
                           <!-- fin modal -->
                     </td>
                     <td>
						<span th:text="${#strings.toString(unResultado.estado.Estado.descripcion)}"></span>
					</td>
					<td nowrap="nowrap">	
					
						<a th:if="${#strings.toString(unResultado.estado.Estado) == 'PLACAVISAVET_PREPARADA'}"  th:data-id="${unResultado.id}" onclick="procesarLotesDesdePlacas(this.getAttribute('data-id'),'P')">
						     <i class="fa fa-edit" title="Modificar placa" aria-hidden="true" style="font-size: 1.2em;"></i>
						</a>
						<i title="Modificar placa" th:unless="${#strings.toString(unResultado.estado.Estado) == 'PLACAVISAVET_PREPARADA'}" class="fa fa-edit" aria-hidden="true" style="font-size: 1.2em;color:grey;"></i>
						<a  th:if="${#strings.toString(unResultado.estado.Estado) == 'PLACAVISAVET_FINALIZADA' or  #strings.toString(unResultado.estado.Estado) == 'PLACAVISAVET_ASIGNADA' or  #strings.toString(unResultado.estado.Estado) == 'PLACAVISAVET_ENVIADA'}" data-toggle="modal"  data-target="#modalLaboratorio"   th:attr="data-target='#modalLaboratorio'" th:data-id="${unResultado.id}" th:data-laboratorio="${unResultado.idLaboratorioCentro}" th:data-estado="${unResultado.estado.Estado}" th:data-fecha="${unResultado.fechaEnviadaLaboratorio}" th:onClick="|consultarOcupacionLaboratorio(this.getAttribute('data-id'), this.getAttribute('data-laboratorio'), this.getAttribute('data-estado'), this.getAttribute('data-fecha'));|">
                          <i class="fa fa-flask" aria-hidden="true" title="Asignar laboratorio" style="font-size: 1.2em;"></i>
						</a>
						<i  title="Asignar laboratorio" th:unless="${#strings.toString(unResultado.estado.Estado) == 'PLACAVISAVET_FINALIZADA' or  #strings.toString(unResultado.estado.Estado) == 'PLACAVISAVET_ASIGNADA' or  #strings.toString(unResultado.estado.Estado) == 'PLACAVISAVET_ENVIADA'}" class="fa fa-flask"  aria-hidden="true" style="font-size: 1.2em;color:grey;"></i>
					  <a th:if="${#strings.toString(unResultado.estado.Estado) == 'PLACAVISAVET_ASIGNADA'}"  th:data-id="${unResultado.id}" th:data-laboratorio="${unResultado.laboratorioCentro.nombre}" data-toggle="modal"  data-target="#modalConfirmRecibido"   th:attr="data-target='#modalConfirmRecibido'" th:onClick="|cambiarEstadoaEnviada(this.getAttribute('data-id'),this.getAttribute('data-laboratorio'));|">
					  	<i class="fa fa-share-square" title="Confirmar Enviada" aria-hidden="true" style="font-size: 1.2em;"></i>
						</a>
						<i th:unless="${#strings.toString(unResultado.estado.Estado) == 'PLACAVISAVET_ASIGNADA'}"  class="fa fa-share-square" title="Confirmar Enviada" aria-hidden="true"  style="font-size: 1.2em;color:grey;"></i>
						 <a th:if="${#strings.toString(unResultado.estado.Estado) != 'PLACAVISAVET_ENVIADA'}"  style="color:black;cursor: pointer;" th:href="@{/documento/placaVisavet(id=${unResultado.id}, url=${T(es.ucm.pcr.controladores.DocumentoControlador).URL_VOLVER_PLACA_VISAVET_DESDE})}" title="Documentos">
						       <i class="fa fa-upload" aria-hidden="true" style="font-size: 1.2em;"></i>
						 </a>
						  <i th:unless="${#strings.toString(unResultado.estado.Estado) != 'PLACAVISAVET_ENVIADA'}" class="fa fa-upload" aria-hidden="true" style="font-size: 1.2em;color:grey;"></i>
						 <a th:if="${#strings.toString(unResultado.estado.Estado) == 'PLACAVISAVET_PREPARADA'}" th:href="@{/laboratorioUni/cargaReferencias(id=${unResultado.id}, url=${T(es.ucm.pcr.controladores.DocumentoControlador).URL_VOLVER_PLACA_VISAVET_DESDE})}" data-toggle="tooltip" style="color:black" title="Cargar referencias">					         
					          <i class="fa fa-file-excel-o" aria-hidden="true" style="font-size: 1.2em;"></i>					         
					         </a>
					       <i class="fa fa-file-excel-o" th:unless="${#strings.toString(unResultado.estado.Estado) == 'PLACAVISAVET_PREPARADA'}" aria-hidden="true" style="font-size: 1.2em;color:grey;"></i>	    
                    </td>		  
					</tr>	
				</tbody>		
			</table>
			
			
		
		</div> 
	<!--  <div th:include="fragmentos :: paginador(${busquedaLotes.urlPaginada},${paginaLotes},${busquedaLotes.orden},${busquedaLotes.sentidoOrden},'0')"></div>
		-->
		</div>
<!-- 
	</div>
		</div> 	-->
	<!-- Empiezan los modales -->
			<!--  Confirmar Recibido -->
			    	<div class="modal fade" id="modalConfirmRecibido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
								<div class="modal-dialog">
							    	<div class="modal-content">
							      		<div class="modal-header">
							        		<h5 class="modal-title" id="exampleModalLabel">Confirmar placa enviada</h5>
							        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          			<span aria-hidden="true">&times;</span>
							        		</button>
							      		</div>
							      		<div class="modal-body">							        
								        	
								          	<div id="tablaMuestras">
												<table>
													<thead class="thead-light">	
									    				<tr>
										      				<th>Número de Placa</th>
															<th>Laboratorio</th>
															
															
														</tr>
													</thead>
													<tbody>
														<tr>
															<td><span id="idPlacaConfirmar"></span></td>					
															<td><span id="laboratorio"></span></td>
																
																													
														</tr>		
													</tbody>
												</table>
											</div>								        
							      		</div>
									    <div class="modal-footer">
									    <input type="hidden" id="idConfirmar" value=""></input>
									    <button type="button" id="aceptarConfirmacion"  class="btn btn-secondary" data-dismiss="modal"  th:onclick="|confirmarPlacaEnviada()|">Aceptar</button>
										<button type="button" id="cerrarConfirmacion"  class="btn btn-secondary"  data-dismiss="modal">Cerrar</button>
									
									    						        
										</div>
							    	</div>
							  	</div>
							</div>
		
			
			
			
		
<!--  	 fin  Recibido -->
	<!-- consultar Muestras -->
<div id="modalConsultarMuestras" class="modal fade" role="dialog" aria-labelledby="exampleModalLabel">
   <div id="ventanaConfirmRecibido" class="modal-dialog modal-xl" role="document">
    
	<div class="modal-content">
         <div class="modal-header" id="modal-header">
         <button class="close" data-dismiss="modal" type="button">×</button>
	
         <h4 class="modal-title"> <span id="modalTitleNombre" class="info">Muestras incluidas en el Lote</span>
         </h4>
        </div>

	<div id="mensajeSinSeleccionarTit" style="display: block; height: 70px;">
		<span style="text-align: center; padding-top: 30px; padding-left: 30px;"></span>
	
						<label>Número muestra de lote:</label><span id="mensajeConfirmar"></span>
						<label>Centro muestra de procedencia:</label><span id="mensajeCentroProcedencia"></span>
						<div id="capaMuestrasMostrar">
							<table class="col-xs-12 table" th:id="tablamuestras" >
					     	<tr id="trMuestra">	</tr>
			            	<tr id="trMuestra"  th:each="unaMuestra, count : ${muestras}">
			            	
				              <td><span th:text="${#strings.toString(unaMuestra.etiqueta)}"></td>
				              <td><span th:text="${#strings.toString(unaMuestra.referenciaInterna)}"></td>
				            </tr>
							    
							   
							    </table>
							    </div>	
									<div class="modal-footer">
									<input type="hidden" id="id" value=""></input>
									  	<button type="button" id="cerrarConfirmacion" data-dismiss="modal">Cerrar</button>
										
									</div>
						

				</div><!-- 4 -->




						</div><!-- 3 -->
						</div><!-- 2 -->
	</div> <!-- 1 -->
	

		</div>
		</div>			

<!--  Fin consultar Muestras -->

<div th:id="modalLaboratorio" class="modal fade" role="dialog"  aria-labelledby="exampleModalLabel" aria-hidden="true" >
   <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
         <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Asignar Placa - <b><span id="spanIdPlaca"></span></b>  a laboratorio
	     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							 <span aria-hidden="true">&times;</span>
		</button>
         </h5>
         </div>
        
         <div class="modal-body">
		 <form id="laboratorioForm" action="" th:modelAttribute="beanPlacaVisavetUCM" >
			
			 <input type="hidden" id="laboratorioLab" th:value="${busqueda.idLaboratorioCentro}"></input>
			
			  <!--   <select class="form-control form-control-sm" id="laboratorioLab" onChange="habilitarBotonAsignarLaboratorio();">
			    <option value="">Seleccione</option>
				<option th:each="var: ${busqueda.listaLaboratorioCentro}"
									th:value="${var.id}" th:text="${var.nombre}"
									th:select="${busqueda.idLaboratorioCentro}">Laboratorio</option>
				</select>
				-->
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">	&nbsp;</div>
				<div id="capaMuestrasMostrar">
				<div id="capaFechaEnvio" style="display:none;"><label class="col-xs-2">Fecha de Envio: </label><span id="fechaEnvioModal"></span></div>
				
				<table class="col-xs-12 table" th:id="tablaLaboratorios" >
				  <thead class="thead-light"><th  scope="col">&nbsp;</th><th  scope="col">Nombre</th><th  scope="col">Nº de equipos</th><th  scope="col">Placas a la espera</th>
				 
				  </thead>
				  <tbody>
					 <tr id="trLaboratorio">	</tr>
			     <tr id="trLaboratorio"  th:each="laboratorio, count : ${laboratorios}" >
			     <td th:class="${#lists.size(laboratorio.equipos)<laboratorio.placasVisavetaLaEspera}? 'filaRed': 'filaVerde'">
			     <input type="radio" th:data-laboratorio="${laboratorio.id}" th:onClick="habilitarBotonAsignarLaboratorio(this.getAttribute('data-laboratorio'));" th:id="laboratorio+${count.index}" th:value="${laboratorio.id}"></input>
			 
			     </td>
			      <td th:class="${#lists.size(laboratorio.equipos)<laboratorio.placasVisavetaLaEspera}? 'filaRed': 'filaVerde'"><span th:text="${laboratorio.nombre}"></td>
			             <td th:class="${#lists.size(laboratorio.equipos)<laboratorio.placasVisavetaLaEspera}? 'filaRed': 'filaVerde'"><span th:text="${#lists.size(laboratorio.equipos)}"></td>
				         <td th:class="${#lists.size(laboratorio.equipos)<laboratorio.placasVisavetaLaEspera}? 'filaRed': 'filaVerde'"><span th:text="${#strings.toString(laboratorio.placasVisavetaLaEspera)}"></td>
				      </tr>  
				    </tbody>  
				</table>
			  </div>	
			<div class="modal-footer">
			<input type="hidden" id="idPlacaLab" value=""></input>	
			<button type="button" id="asignarLaboratorio" class="btn btn-secondary" onClick="asignarLaboratoriodesdeModal();">Asignar Laboratorio</button>
			<button type="button" id="cerrarConfirmacion" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			</div>
			</form>
         </div>
     </div>
   </div>
						
	</div> 	
		<!-- Fin asignarLaboratorio -->	
	
<object th:replace="fragmentos :: footer-responsive" th:remove="tag"></object>
<object th:include="fragmentos :: scripts" th:remove="tag"></object>


	
</body>
</html>